.nav-item .event{
    text-decoration: underline;
}

h1{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 900;
}
h2{
    font-family: 'Poppins', sans-serif;
    font-size: calc(3vw);
    text-align: center;
    font-weight: 900;
    color: white;
}
h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-weight: bold;
    color: white;
}
h6{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    color: white;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    color: white;
}

/* garis */

.leftline{
    display: flex;
    z-index: -1;
    height: 100vh;
    width: fit-content;
    top: 90px;
    position: absolute;
    left: 10px;
}
.rightline{
    display: flex;
    z-index: -1;
    height: 100vh;
    top: 90px;
    width: fit-content;
    position: absolute;
    right: 20px;
}
.line{
    width: 3px;
    margin-left: 10px;
    height: 100%;
    background-color: #FF0411;
}

/* judul */
.judul{
    width: 90%;
    margin-top: 210px;
    margin-bottom: 110px;
    margin-left: auto;
    margin-right: auto;
}
.judul h1{
    color: white;
    margin-bottom: 30px;
    font-size: calc(35px + 3vw);
}

.garisbawah{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 30%;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FF0411;
}

.judul p{
    text-align: left;
    width: 80%;
    margin: auto;
}

.speakertime{
    width: 80%;
    height: 100%;
    margin: 100px auto;
}

.speakertime-list{
    justify-content: center;
    text-align: center;
}

.speakertime-list li{
    margin-top: 10px;
    display: block;
    width: 80%;
    text-align: left;
    color: white;
    margin-left: 30px;
}
.okupasi{
    width: 90%;
    height: 100%;
    margin: auto;
    margin-bottom: 250px;
}
.okupasi-isi{
    width: 100%;
    height: 100%;
    margin-top: 5%;
    margin-bottom: 5%;

}

.okupasi-svg {
    width:280px;
    height: 280px;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

.okupasi-img {
    flex: 1;
    position: relative;
    width: 100%;
    height: 300px;
}

.okupasi-img > img{
    margin-top: 30%;
    width: 168px;
    height: 146px;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;   
    right: 0;  
    margin: auto;
    object-fit: cover;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.tulisan{
    margin-top: 10px;
    flex: 2;
    text-align: center;
}
.tulisan p{
    margin-top: 40px;
    width: 80%;
    margin: auto;
}


.kartu{
    width: 90%;
    margin: 100px auto 250px auto;
}
.kartu-speaker{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.kartu-speaker-isi{
    background-color: #FF0411;
    width: 300px;
    height: 500px;
    margin-top: 50px;
    border-radius: 20px;
    text-align: center;
}

.kartu-speaker-isi-gambar{
    background-color: white;
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin: 20px auto;
}
.kartu-speaker-isi p{
    width: 200px;
    font-size: 15px;
    text-align: left;
    margin: 10px auto 40px auto;

}
.kartu-speaker-isi a{
   padding:10px 20% 10px 20%;
   border-radius: 10px;
   margin-bottom: 10px;
   background-color: white;
}

.tulisan_login{
	text-align: center;
	/*membuat semua huruf menjadi kapital*/
	text-transform: uppercase;
}
 
.kotak_login{
    color: white;
	width: 450px;
	margin: 80px auto;
	padding: 30px 20px;
}
 
label{
	font-size: 11pt;
}
 
.form_login{
	/*membuat lebar form penuh*/
	box-sizing : border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;
}
 
.tombol_login{
	background: #46de4b;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}
 
.link{
	color: #232323;
	text-decoration: none;
	font-size: 10pt;
}


/* media */

@media(min-width:800px){
    .speakertime-list{
        display: flex;
    }
    .speakertime-list li{
        display: block;
        width: 15%;
        text-align: left;
        color: white;
        margin-left: 30px;
    }
}
@media(min-width:999px){
    .okupasi-isi{
        display: flex;
        justify-content: space-between;
    }
    .okupasi-img{
        height:250px;
    }
    .okupasi-isi.right .tulisan{
        order: -1;
        text-align: right;
    }
    .okupasi-isi.right .tulisan p{
        margin-right: 0px;
        margin-left: auto;
    }
    .tulisan{
        margin-top: 10px;
        flex: 2;
        text-align: left;
    }
    .tulisan p{
        margin-top: 40px;
        width:300px;
        margin-left: 0px;
    }
}

@media(min-width:1500px){
    .okupasi-isi.right .tulisan{
        order: -1;
        text-align: right;
        margin-right: -5%;
        margin-left: 10%;
    }
    .tulisan{
        margin-top: 10px;
        flex: 2;
        text-align: left;
        margin-left: -5%;
    }

}
@media(max-width:662px){
    .kartu-speaker{
        justify-content: center;
    }
}

body {
	margin:  0;
}
.page-content {
	width: 100%;
	margin:  0 auto;
	background: #4077c8;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-o-justify-content: center;
	-ms-justify-content: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
}
.form-v9-content  {
	width: 975px;
	border-radius: 15px;
	-o-border-radius: 15px;
	-ms-border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	margin: 185px 0;
	font-family: 'Nunito', sans-serif;
	color: #fff;
	font-weight: 700;
	font-size: 16px;
	position: relative;
}
.form-v9-content .form-detail {
    padding: 30px 135px 30px 100px;
	position: relative;
}
.form-v9-content .form-detail h2 {
	font-size: 35px;
	text-align: center;
	position: relative;
	padding: 16px 0 13px;
	margin-bottom: 55px;
}
.form-v9-content .form-detail h2::after {
	background: #fff;
	width: 73px;
	height: 3px;
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
    transform: translateX(-50%);
    -o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}
.form-v9-content .form-row-total {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -o-justify-content: space-between;
    -ms-justify-content: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
}
.form-v9-content .form-row {
    width: 45%;
}
.form-v9-content .form-detail .form-row-last {
	text-align: center;
}
.form-v9-content .form-detail .input-text {
	margin-bottom: 45px;
}
.form-v9-content .form-detail input {
	width: 100%;
    padding: 14.5px 0px 14.5px 30px;
    border: 2px solid #ccc;
    appearance: unset;
    -moz-appearance: unset;
    -webkit-appearance: unset;
    -o-appearance: unset;
    -ms-appearance: unset;
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    -o-outline: none;
    -ms-outline: none;
    border-radius: 27.5px;
	-o-border-radius: 27.5px;
	-ms-border-radius: 27.5px;
	-moz-border-radius: 27.5px;
	-webkit-border-radius: 27.5px;
	font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 700;
    background: rgba(255, 255, 255, 0.2)
}
.form-v9-content .form-detail input:focus {
	border: 2px solid #999;
}
.form-v9-content .form-detail .register {
	background: #f25d5d;
	border-radius: 25px;
	-o-border-radius: 25px;
	-ms-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	width: 180px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	border: none;
	margin: 20px 0 73px 35px;
	cursor: pointer;
	font-family: 'Nunito', sans-serif;
	color: #fff;
	font-weight: 700;
	font-size: 16px;
}
.form-v9-content .form-detail .register:hover {
	background: #d95252;
}
.form-v9-content .form-detail .form-row-last input {
	padding: 14px;
}
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #e5e5e5;
  font-size: 16px;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: #e5e5e5;
  font-size: 16px;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: #e5e5e5;
  font-size: 16px;
}
input:-moz-placeholder { /* Firefox 18- */
  color: #e5e5e5;
  font-size: 16px;
}

/* Responsive */
@media screen and (max-width: 1199px) {
	.form-v9-content {
	    margin: 185px 20px;
	}
}
@media screen and (max-width: 767px) {
	.form-v9-content .form-row-total {
		flex-direction: column;
		-o-flex-direction: column;
		-ms-flex-direction: column;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
	}
	.form-v9-content .form-row {
		width: 100%;
	}
}
@media screen and (max-width: 575px) {
	.form-v9-content .form-detail {
	    padding: 30px 45px 30px 10px;
	}
}

