.nav-item .event{
    text-decoration: underline;
}

h1{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 900;
}
h2{
    font-family: 'Poppins', sans-serif;
    font-size: calc(50px+2vw);
    text-align: left;
    font-weight: 900;
    color: white;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: white;
}

/* garis */

.leftline{
    display: flex;
    z-index: -1;
    height: 100vh;
    width: fit-content;
    top: 90px;
    position: absolute;
    left: 10px;
}
.rightline{
    display: flex;
    z-index: -1;
    height: 100vh;
    top: 90px;
    width: fit-content;
    position: absolute;
    right: 20px;
}
.line{
    width: 3px;
    margin-left: 10px;
    height: 100%;
    background-color: #FF0411;
}

/* judul */
.judul{
    width: 90%;
    margin-top: 210px;
    margin-bottom: 110px;
    margin-left: auto;
    margin-right: auto;
}
.judul h1{
    color: white;
    font-size: calc(35px + 3vw);
}

.garisbawah{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 30%;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FF0411;
}
.judul p{
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 100px;

}
.gariskiri{
    position: absolute;
    height: 400px;
    width: 5px;
    left: 5%;
    background-color:#FF0411;
}

.garingataskiri{
    position: absolute;
    width: 5px;
    height: 200px;
    top: -170px;
    left: 70px;
    background-color:#FF0411;
    transform: rotate(45deg);
}
.garingbawahkiri{
    position: absolute;
    width: 5px;
    height: 200px;
    bottom: -170px;
    left: 70px;
    background-color:#FF0411;
    transform: rotate(-45deg);
}
.garingbawahkanan{
    position: absolute;
    width: 5px;
    height: 200px;
    bottom: -170px;
    right: 70px;
    background-color:#FF0411;
    transform: rotate(45deg);
}
.garingataskanan{
    position: absolute;
    width: 5px;
    height: 200px;
    top: -170px;
    right: 70px;
    background-color:#FF0411;
    transform: rotate(-45deg);
}

.garishorizontal{
    left:142px;
    top: -142px;
    position: absolute;
    width: 100px;
    height: 5px;
    background: #FF0411;
}
.garishorizontal-right{
    right:142px;
    top: -142px;
    position: absolute;
    width: 100px;
    height: 5px;
    background: #FF0411;
}

.garishorizontal-bawah{
    left:142px;
    bottom: -142px;
    position: absolute;
    width: 100px;
    height: 5px;
    background: #FF0411;
}
.garishorizontal-right-bawah{
    right:142px;
    bottom: -142px;
    position: absolute;
    width: 100px;
    height: 5px;
    background: #FF0411;
}

.gariskanan{
    position: absolute;
    height: 400px;
    width: 5px;
    right: 5%;
    background-color:#FF0411;
}

.competition{
    width: 80%;
    margin-top: 350px;
    margin-bottom: 110px;
    margin-left: auto;
    margin-right: auto;
}
.garisbawah-competition{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 35%;
    height: 3px;
    background-color: #FF0411;
}

.competition h1{
    text-align: left;
    color: white;
    font-size: calc(40px + 2vw);
}
.cabangcompetition{
    margin-top: 50px;
    text-align: left;
}
.cabangcompetition h2{
    margin-top: 50px;
}
.cabangcompetition p{
    margin-top: 10px;
    margin-bottom: 30px;
}

.isi{
    display: flex;
}
.isi p{
    flex: 1;
}
.isi .registerlomba{
    flex: 2;
}
.registerlomba{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 60px;
}
.tombol{
    color: white;
    background-color: #FF0411;
    padding: 10px 50px 10px 50px;
    border-radius: 30px;
    font-size: 28px;
}
.tombol:hover{
    color: white;
    text-decoration: none;
}
.download{
    text-align: center;
    width: 80%;
    margin: auto;
}
.download a{
    color: #FF0411;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
}

.timeline{
    width: 80%;
    margin-top: 210px;
    margin-bottom: 400px;
    margin-left: auto;
    margin-right: auto;
}
.timeline h1{
    font-size: calc(40px + 2vw);
    color: white;
    text-align: left;
    margin-left: 10px;
}

.isitimeline{
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.isitimeline ul{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
}
.isitimeline .kebalik{
    z-index: 2;
    margin-top: -180px;
}
.isitimeline .normal{
    margin-top: 250px;
}
.tanggal{
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #FF0411;
    border-radius: 100%;
    text-align: center;
    margin: auto;
}
.isitimeline .kebalik img{
    position: relative;
    margin-left: 110px;
    margin-bottom: 15px;
}
.isitimeline .normal img{
    position: relative;
    margin-right: 110px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.isitimeline ul{
    width: 80%;
    display: flex;
}
.isitimeline li{
    position: relative;
}


.progress{
    margin-top: 8px;
    width: 80%;
    height: 10px;
    content: '';
    position: absolute;
    z-index: -1;
}
.bulan{
    margin-top: 10px;
    text-align: center;
}

.progress-bar{
    background-color: #FF0411;
}
.kiri{
    width: 20px;
    height: 60px;
    margin-top: 10px;
    border-radius: 10px;
    margin-left: 0px;
    position: absolute;
    background-color: #FF0411;
}
.kanan{
    width: 20px;
    height: 60px;
    position: absolute;
    margin-top: 10px;
    border-radius: 10px;
    right: 10%;
    background-color: #FF0411;
}


@media(max-width:999px){
    .gariskanan{
        display: none;
    }
    .gariskiri{
        display: none;
    }
    .judul p{
        margin-top: 0px;
    }
    
    .competition h1{
        text-align: center;
    }
    .cabangcompetition{
        text-align: center;
    }
    .cabangcompetition h2{
        text-align: center;
    }
    .cabangcompetition p{
        margin-top: 10px;
    }
    .isi{
        display: block;
    }
}
@media(max-width:600px){
    .line{
        display: none;
    }
}