.nav-item .event{
    text-decoration: underline;
}

h1{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 900;
}
h2{
    font-family: 'Poppins', sans-serif;
    font-size: calc(50px+2vw);
    text-align: center;
    font-weight: 900;
    color: white;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    color: white;
}

/* garis */

.leftline{
    display: flex;
    z-index: -1;
    height: 100vh;
    width: fit-content;
    top: 90px;
    position: absolute;
    left: 10px;
}
.rightline{
    display: flex;
    z-index: -1;
    height: 100vh;
    top: 90px;
    width: fit-content;
    position: absolute;
    right: 20px;
}
.line{
    width: 3px;
    margin-left: 10px;
    height: 100%;
    background-color: #FF0411;
}

/* judul */
.judul{
    width: 90%;
    margin-top: 210px;
    margin-bottom: 110px;
    margin-left: auto;
    margin-right: auto;
}
.judul h1{
    color: white;
    font-size: calc(35px + 3vw);
}

.garisbawah{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 30%;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FF0411;
}
.judul p{
    text-align: center;
    width: 80%;
    margin: auto;
}
.gariskiri{
    position: absolute;
    height: calc(1300px - 50vw);
    width: 5px;
    left: 5%;
    background-color:#FF0411;
}

.garingataskiri{
    position: absolute;
    width: 5px;
    height: 200px;
    top: -170px;
    left: 70px;
    background-color:#FF0411;
    transform: rotate(45deg);
}
.garingbawahkiri{
    position: absolute;
    width: 5px;
    height: 200px;
    bottom: -170px;
    left: 70px;
    background-color:#FF0411;
    transform: rotate(-45deg);
}
.garingbawahkanan{
    position: absolute;
    width: 5px;
    height: 200px;
    bottom: -170px;
    right: 70px;
    background-color:#FF0411;
    transform: rotate(45deg);
}
.garingataskanan{
    position: absolute;
    width: 5px;
    height: 200px;
    top: -170px;
    right: 70px;
    background-color:#FF0411;
    transform: rotate(-45deg);
}

.garishorizontal{
    left:142px;
    top: -142px;
    position: absolute;
    width: 100px;
    height: 5px;
    background: #FF0411;
}
.garishorizontal-right{
    right:142px;
    top: -142px;
    position: absolute;
    width: 100px;
    height: 5px;
    background: #FF0411;
}

.garishorizontal-bawah{
    left:142px;
    bottom: -142px;
    position: absolute;
    width: 100px;
    height: 5px;
    background: #FF0411;
}
.garishorizontal-right-bawah{
    right:142px;
    bottom: -142px;
    position: absolute;
    width: 100px;
    height: 5px;
    background: #FF0411;
}

.gariskanan{
    position: absolute;
    height: calc(1300px - 50vw);
    width: 5px;
    right: 5%;
    background-color:#FF0411;
}

@media(max-width:999px){
    .gariskanan{
        display: none;
    }
    .gariskiri{
        display: none;
    }
}
@media(max-width:600px){
    .line{
        display: none;
    }
}
.competition{
    width: 90%;
    margin-top: 210px;
    margin-bottom: 110px;
    margin-left: auto;
    margin-right: auto;
}

.competition h1{
    color: white;
    font-size: calc(40px + 2vw);
}
.cabangcompetition{
    margin-top: 50px;
    text-align: center;
}
.cabangcompetition p{
    margin-top: 10px;
    margin-bottom: 30px;
}

@media(min-width:1000px){
    .cabangcompetition{
        display: flex;
    }
}
.poster{
    flex: 1;
    padding: 30px 100px 30px 100px;
}
.prototype{
    flex: 1;
    padding: 30px 100px 30px 100px;
}

.tombol{
    color: white;
    padding: 10px 30px 10px 30px;
    background-color: #FF0411;
    border-radius: 30px;
    font-size: 28px;
}
.tombol:hover{
    color: white;
    text-decoration: none;
}
.download{
    text-align: center;
}
.download a{
    color: #FF0411;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
}

.timeline{
    width: 80%;
    margin-top: 210px;
    margin-bottom: 400px;
    margin-left: auto;
    margin-right: auto;
}
.timeline h1{
    font-size: calc(40px + 2vw);
    color: white;
    text-align: left;
    margin-left: 10px;
}

.isitimeline{
    margin-top: 300px;
    display: flex;
    margin-bottom: 100px;
    counter-reset: step;
}

.isitimeline li{
    list-style-type: none;
    float: left;
    width: 33.33%;
    color: white;
    position: relative;
    text-align:center;
}
.isitimeline li:before{
    content: counter(step);
    counter-increment: step;
    width: 60px;
    height: 60px;
    display: block;
    color: white;
    line-height: 60px;
    text-align: center;
    margin: -20px auto 10px auto;
    border-radius: 50%;
    background-color: #FF0411;
}
.progress{
    margin-top: 8px;
    width: 80%;
    height: 10px;
    content: '';
    position: absolute;
    z-index: -1;
}

.progress-bar{
    background-color: #FF0411;
}
.kiri{
    width: 20px;
    height: 60px;
    margin-top: -15px;
    border-radius: 10px;
    margin-left: 0px;
    position: absolute;
    background-color: #FF0411;
}
.kanan{
    width: 20px;
    height: 60px;
    position: absolute;
    margin-top: -15px;
    border-radius: 10px;
    right: 10%;
    background-color: #FF0411;
}
.isitimeline li img{
    margin-left: -100px;
}
.isitimeline li p{
    margin-top: 10px;
    margin-left: -200px;
}
