.nav-item .event{
    text-decoration: underline;
}

/* garis */

.line{
    width: 3px;
    margin-left: 10px;
    height: 100%;
    background-color: #FF0411;
}

/* judul */
.judul{
    width: 90%;
    margin-top: 210px;
    margin-bottom: 110px;
    margin-left: auto;
    margin-right: auto;
}
.judul h1{
    color: white;
    font-size: calc(35px + 3vw);
}

.garisbawah{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 30%;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FF0411;
}
.judul p{
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 100px;

}
.gariskiri{
    position: absolute;
    height: 400px;
    width: 5px;
    left: 5%;
    background-color:#FF0411;
}

.garingataskiri{
    position: absolute;
    width: 5px;
    height: 200px;
    top: -170px;
    left: 70px;
    background-color:#FF0411;
    transform: rotate(45deg);
}
.garingbawahkiri{
    position: absolute;
    width: 5px;
    height: 200px;
    bottom: -170px;
    left: 70px;
    background-color:#FF0411;
    transform: rotate(-45deg);
}
.garingbawahkanan{
    position: absolute;
    width: 5px;
    height: 200px;
    bottom: -170px;
    right: 70px;
    background-color:#FF0411;
    transform: rotate(45deg);
}
.garingataskanan{
    position: absolute;
    width: 5px;
    height: 200px;
    top: -170px;
    right: 70px;
    background-color:#FF0411;
    transform: rotate(-45deg);
}

.garishorizontal{
    left:142px;
    top: -142px;
    position: absolute;
    width: 100px;
    height: 5px;
    background: #FF0411;
}
.garishorizontal-right{
    right:142px;
    top: -142px;
    position: absolute;
    width: 100px;
    height: 5px;
    background: #FF0411;
}

.garishorizontal-bawah{
    left:142px;
    bottom: -142px;
    position: absolute;
    width: 100px;
    height: 5px;
    background: #FF0411;
}
.garishorizontal-right-bawah{
    right:142px;
    bottom: -142px;
    position: absolute;
    width: 100px;
    height: 5px;
    background: #FF0411;
}

.gariskanan{
    position: absolute;
    height: 400px;
    width: 5px;
    right: 5%;
    background-color:#FF0411;
}

.competition{
    width: 80%;
    margin-top: 350px;
    margin-bottom: 110px;
    margin-left: auto;
    margin-right: auto;
}
.garisbawah-competition{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 35%;
    height: 3px;
    background-color: #FF0411;
}

.competition h1{
    text-align: left;
    color: white;
    font-size: calc(40px + 2vw);
}
.cabangcompetition{
    margin-top: 50px;
    text-align: left;
}
.cabangcompetition h2{
    margin-top: 50px;
    text-align: left;
}
.cabangcompetition p{
    margin-top: 10px;
    margin-bottom: 30px;
}

.isi{
    display: flex;
}
.isi p{
    flex: 1;
}
.isi .registerlomba{
    flex: 2;
}
.registerlomba{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 60px;
}
.tombol{
    color: white;
    background-color: #FF0411;
    padding: 10px 50px 10px 50px;
    border-radius: 30px;
    font-size: 28px;
}
.tombol:hover{
    color: white;
    text-decoration: none;
}
.download{
    text-align: center;
    width: 80%;
    margin-top: 50px;
    text-align: center;
}
.cabangcompetition h2{
    margin-top: 50px;
}
.cabangcompetition p{
    margin-top: 10px;
    margin-bottom: 30px;
}

.isi{
    display: flex;
}
.isi p{
    flex: 1;
}
.isi .registerlomba{
    flex: 2;
}
.registerlomba{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 60px;
}
.tombol{
    color: white;
    background-color: #FF0411;
    padding: 10px 50px 10px 50px;
    border-radius: 30px;
    font-size: 28px;
}
.tombol:hover{
    color: white;
    text-decoration: none;
}
.download{
    margin: auto;
}
.download a{
    color: #FF0411;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
}
.timeline{
    width: 100%;
    height: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}
.timeline-list{
    justify-content: space-between;
    text-align: center;
}
.timeline-list li{
    margin-top: 10px;
    display: block;
    width: 90%;
    text-align: left;
    color: white;
    margin-left: 30px;
}
.bulet{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: 3px solid #FF0411;
    margin: auto auto 20px auto;
    background-color: none;
}
.ujungkeujung{
    width: calc(80vw);
    height: 3px;
    margin-left: 40px;
    position: absolute;
    margin-top: -68px;
    max-width: 1600px;
    background-color: #FF0411;
}
.garing{
    width: 3px;
    height: 115px;
    margin-left: 45px;
    margin-top:-95px;
    transform: rotate(45deg);
    background-color: #FF0411;
}

@media(min-width:1000px){
    .timeline-list{
        display: flex;
    }
}

@media(max-width:999px){
    .gariskanan{
        display: none;
    }
    .gariskiri{
        display: none;
    }
    .judul{
        margin-top: 60px;
    }
    .judul p{
        margin-top: 0px;
    }
    
    .competition h1{
        text-align: center;
    }
    .cabangcompetition{
        text-align: center;
    }
    .cabangcompetition h2{
        text-align: center;
        font-size: 30px;
    }
    .cabangcompetition p{
        margin-top: 10px;
    }
    .isi{
        display: block;
    }
    .bulet{
        display: none;
    }
    .ujungkeujung{
        margin-left: 0%;
    }
    .registerlomba{
        margin: auto;
    }
    .garisbawah-competition{
        margin: auto;
    }

}
@media(max-width:600px){
    .line{
        display: none;
    }
}