{% extends 'base.html' %}
{% load static %}


{% block title %}Competition{% endblock title %}

{% block style %}<link rel="stylesheet" href="{% static 'competition/competition.css' %}">{% endblock style %}


<body>
  <div class="main-wrapper">
{% block isi %}

  <div class="leftline">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div class="rightline">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>

  <div class="judul">
    <h1 class="underline">explanation</h1>
    <div class="garisbawah"></div>
    <br><br>
    <div class="gariskiri"><div class="garingatas kiri"></div></div>
    <div class="gariskanan"><div class="garingatas kanan"></div></div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores dolore quia fugiat cupiditate aut iusto necessitatibus non asperiores officia dolores ullam eaque tenetur laudantium illum modi obcaecati, excepturi natus repellendus.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis distinctio repellendus asperiores quae. Laboriosam assumenda eius sequi quam iste quae sint doloremque officiis eveniet optio blanditiis accusantium, impedit quibusdam totam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, dolores corporis modi id officia dolor ullam eos quis natus perferendis optio at, inventore labore, placeat debitis quam atque! Nemo, unde! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis officia blanditiis iusto aliquid excepturi perspiciatis ratione adipisci. Adipisci, aut quibusdam. Blanditiis maxime accusamus corporis tenetur ducimus, voluptatum illum ipsa officiis!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque vero mollitia consectetur sint ad dolore quidem doloremque voluptatem, ea inventore eaque sunt harum debitis nemo qui molestias culpa ab exercitationem.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae labore tempora officia a saepe ad quae quaerat blanditiis. Optio amet aliquid quae obcaecati quisquam debitis exercitationem laudantium quo incidunt hic?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita repellat quibusdam animi sit dicta, doloremque et voluptatibus amet consequatur, quas eaque eveniet. Neque a quasi, maiores quae tempora eveniet vel.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit a voluptate at tempora tenetur quis illum eum doloribus expedita provident aut minus, omnis commodi sequi maiores velit, accusantium itaque accusamus.
    </p>
  </div>
  
  <div class="competition">
        <h1>Competition</h1>
        <div class="cabangcompetition">
            <div class="poster">
                <h2>Poster</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo tempora nesciunt laborum eaque adipisci est. Provident consectetur nobis ratione eveniet, officia, quo quod quidem ducimus necessitatibus dignissimos voluptatibus vero eos?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, asperiores? Dolorum repellendus dolor numquam sunt nemo commodi vel nihil harum. Blanditiis sed porro harum assumenda laboriosam, sint expedita perspiciatis amet?
                </p>
                <a class= "tombol" href="">Regist</a>
            </div>
            <div class="prototype">
                <h2>Prototype</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo tempora nesciunt laborum eaque adipisci est. Provident consectetur nobis ratione eveniet, officia, quo quod quidem ducimus necessitatibus dignissimos voluptatibus vero eos?</p>
                <a class="tombol" href="">Regist</a>
            </div>
        </div>
  </div>

  <p class="download">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum <a href="#">Download</a></p>
  <div class="timeline">
      <h1>Timeline</h1>

  </div>
    
<!--End Pop up-->
{% endblock isi %}
</body>
