{% extends 'base.html' %}
{% load static %}


{% block title %}ICoSITeR 2021{% endblock title %}

{% block style %}<link rel="stylesheet" href="{% static 'about/about.css' %}">{% endblock style %}


<body>
  <div class="main-wrapper">
{% block isi %}

  <div class="leftline">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div class="rightline">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>

  <div class="judul">
    <div class="bulet">
      <img src="{% static 'about/asset/circuit.png' %}">
    </div>
    <h1>ICoSITeR 2021</h1>
    <div class="garisbawah"></div>
    <h2>SMART CITY</h2>
  </div>
  
  <div class="info">
    <img src="{% static 'about/asset/kota.png' %}">
    <div class="isiinfo">
      <div class="kontain">
        <h1>INTRODUCTION</h1>
        <div class="garisbawah"></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Vero hic ullam tenetur rem, dolor reiciendis voluptatibus corporis iste, 
          deserunt recusandae Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus ad dolore sit animi? Non mollitia, doloremque nulla atque nobis, velit, pariatur voluptatibus eum tempora consectetur molestiae error enim quidem placeat.
          nobis corrupti. Quisquam reprehenderit facere nostrum, quo quos vitae soluta.
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia debitis culpa dolore vero, aliquid ipsam sunt suscipit beatae odit, provident aut? 
          Eligendi voluptatum quas, molestias porro praesentium sunt maiores fugiat.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Vero hic ullam tenetur rem, dolor reiciendis voluptatibus corporis iste, 
            deserunt recusandae Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim voluptates soluta esse aperiam? Est, sint cumque repellat molestias, explicabo veniam, nisi repudiandae corporis eum reiciendis a maxime deleniti eveniet nam.
            nobis corrupti. Quisquam reprehenderit facere nostrum, quo quos vitae soluta.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia debitis culpa dolore vero, aliquid ipsam sunt suscipit beatae odit, provident aut? 
            Eligendi voluptatum quas, molestias porro praesentium sunt maiores fugiat.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Vero hic ullam tenetur rem, dolor reiciendis voluptatibus corporis iste, 
            deserunt recusandae Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi quaerat quos doloribus voluptate exercitationem id in doloremque necessitatibus alias, rem asperiores sit qui, hic tempora incidunt voluptatum molestias blanditiis voluptatem!
            nobis corrupti. Quisquam reprehenderit facere nostrum, quo quos vitae soluta.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia debitis culpa dolore vero, aliquid ipsam sunt suscipit beatae odit, provident aut? 
            Eligendi voluptatum quas, molestias porro praesentium sunt maiores fugiat.</p>
      </div>
    </div>
    <img id="kebalik" src="{% static 'about/asset/kota.png' %}">
  </div>
  <div class="circuit2">
      <img src="{% static 'about/asset/circuit2.png' %}" alt="">
  </div>

  <div class="committee-wrapper">

    <div class="circuit3">
      <img src="{% static 'about/asset/circuit3.png' %}">
  </div>
    <!-- organizing committee -->
    <div class="committee-organizing">
      <div class="committee-main">
        <div class="committee-main-info">
          <div class="committee-main-img">
            <img src="{% static 'about/asset/1.jpg' %}">
          </div>
          <div class="committee-main-info-text">
            <h3>
              Chariman
            </h3>
            <p>
              Lorem Ipsum
            </p>
          </div>
        </div>
        <h1>organizing committee</h1>
      </div>
      <div class="committee-tree container">
        <div class="committee-tree-section">
          <div class="row">
            <div class="committee-info col">
              <div class="committee-info-img">
                <img src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="committee-info-text">
                <h3>
                  Vice Chairman
                </h3>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
            <div class="committee-info col">
              <div class="committee-info-img">
                <img src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="committee-info-text">
                <h3>
                  Secretary
                </h3>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
            <div class="committee-info col">
              <div class="committee-info-img">
                <img src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="committee-info-text">
                <h3>
                  Treasurer
                </h3>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="committee-info col">
              <div class="committee-info-img">
                <img src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="committee-info-text">
                <h3>
                  Head of Event Division
                </h3>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
            <div class="committee-info col">
              <div class="committee-info-img">
                <img src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="committee-info-text">
                <h3>
                  Head of External Division
                </h3>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
            <div class="committee-info col">
              <div class="committee-info-img">
                <img src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="committee-info-text">
                <h3>
                  Head of Operational Division
                </h3>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="circuit4">
          <img src="{% static 'about/asset/circuitmid.png' %}">
      </div>

        <div class="committee-tree-section">
          <div class="row">
            <div class="committee-info col">
              <div class="committee-info-img">
                <img src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="committee-info-text">
                <h3>
                  Head of Creative Division
                </h3>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
            <div class="committee-info col">
              <div class="committee-info-img">
                <img src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="committee-info-text">
                <h3>
                  Head of Headache Division
                </h3>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
            <div class="committee-info col">
              <div class="committee-info-img">
                <img src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="committee-info-text">
                <h3>
                  Head of Kominfo Division
                </h3>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="committee-info col">
              <div class="committee-info-img">
                <img src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="committee-info-text">
                <h3>
                  Head of Fundraising Division
                </h3>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
            <div class="committee-info col">
              <div class="committee-info-img">
                <img src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="committee-info-text">
                <h3>
                  Head of Accomodation Division
                </h3>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
            <div class="committee-info col">
              <div class="committee-info-img">
                <img src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="committee-info-text">
                <h3>
                  Head of Consumption Division
                </h3>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="circuit5">
      <img src="{% static 'about/asset/circuit5.png' %}">
    </div>
      
    <div class="circuit3-rotate">
      <img src="{% static 'about/asset/circuit3.png' %}">
  </div>

    <!-- student committee -->
    <div class="committee-student">
      <div class="committee-main">
        <h1>student committee</h1>
        <div class="committee-main-info">
          <div class="committee-main-img">
            <img src="{% static 'about/asset/1.jpg' %}">
          </div>
          <div class="committee-main-info-text">
            <h3>
              Chariman
            </h3>
            <p>
              Lorem Ipsum
            </p>
          </div>
        </div>
      </div>
      <div class="committee-tree container">
        <div class="committee-tree-section">
          <div class="row">
            <div class="committee-info col">
              <div class="committee-info-img">
                <img src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="committee-info-text">
                <h3>
                  Secretary-General
                </h3>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
            <div class="committee-info col">
              <div class="committee-info-img">
                <img src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="committee-info-text">
                <h3>
                  General Secretary 1
                </h3>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
            <div class="committee-info col">
              <div class="committee-info-img">
                <img src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="committee-info-text">
                <h3>
                  General Treasurer
                </h3>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="committee-info col">
              <div class="committee-info-img">
                <img src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="committee-info-text">
                <h3>
                  Head of Event Division
                </h3>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
            <div class="committee-info col">
              <div class="committee-info-img">
                <img src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="committee-info-text">
                <h3>
                  Head of External Division
                </h3>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
            <div class="committee-info col">
              <div class="committee-info-img">
                <img src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="committee-info-text">
                <h3>
                  Head of Operational Division
                </h3>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="circuit4">
          <img src="{% static 'about/asset/circuitmid.png' %}">
      </div>

        <div class="committee-tree-section">
          <div class="row">
            <div class="committee-info col">
              <div class="committee-info-img">
                <img src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="committee-info-text">
                <h3>
                  Head of Creative Division
                </h3>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
            <div class="committee-info col">
              <div class="committee-info-img">
                <img src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="committee-info-text">
                <h3>
                  Head of Headache Division
                </h3>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
            <div class="committee-info col">
              <div class="committee-info-img">
                <img src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="committee-info-text">
                <h3>
                  Head of Kominfo Division
                </h3>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="committee-info col">
              <div class="committee-info-img">
                <img src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="committee-info-text">
                <h3>
                  Head of Fundraising Division
                </h3>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
            <div class="committee-info col">
              <div class="committee-info-img">
                <img src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="committee-info-text">
                <h3>
                  Head of Accomodation Division
                </h3>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
            <div class="committee-info col">
              <div class="committee-info-img">
                <img src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="committee-info-text">
                <h3>
                  Head of Consumption Division
                </h3>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Template Popup -->
<!--Bagian Hexagon-->
<!-- <div class="row g-5">
  <div class="col-md-6">
    <img src="{% static 'about/asset/1.jpg' %}" style="text-align:center; clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);">
  </div>
  <div class="col-md-6">
    <h1>Comite Organizing</h1>
  </div>
</div>
<br> -->


<!--Bagian Pop Up-->
<!-- <div class="row g-5" style="text-align: center;">
  <div class="col-md-4">
    <a href="#popup1" class="popup-link">
    <img src="{% static 'about/asset/1.jpg' %}" width="200px" height="200px" style="text-align:center; clip-path: border-box; clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);">
    </a>
    <p style="font-size: 20px; color:white">Ketua</p>
    <p style="font-size: 20px; color:white">Chris Evan</p>
    <div id="popup1">
      <div class="popup-container">
        <div class="row">
          <div class="col-md-4">
            <img class="img_hexa" width="40%" height="20%" src="../../static/home/asset/Speaker/1.jpg">
            <br>
            <br>
            <h6>Divisi PusatData</h6>
            <p class="teks_isi_popup">
              Apri<br>Yusuf<br>Rafi<br>
              Apri<br>Yusuf<br>Rafi<br>
              Apri<br>Yusuf<br>Rafi<br>
            </p>
          </div>
          <div class="col-md-4">
            <img class="img_hexa" width="40%" height="20%" src="../../static/home/asset/Speaker/1.jpg">
            <br>
            <br>
            <h6>Divisi PusatData</h6>
            <p class="teks_isi_popup">
              Apri<br>Yusuf<br>Rafi<br>
              Apri<br>Yusuf<br>Rafi<br>
              Apri<br>Yusuf<br>Rafi<br>
            </p>
          </div>
          <div class="col-md-4">
            <img class="img_hexa" width="40%" height="20%" src="../../static/home/asset/Speaker/1.jpg">
            <br>
            <br>
            <h6>Divisi PusatData</h6>
            <p class="teks_isi_popup">
              Apri<br>Yusuf<br>Rafi<br>
              Apri<br>Yusuf<br>Rafi<br>
              Apri<br>Yusuf<br>Rafi<br>
            </p>
          </div>
        </div>
        <a class="popup-close" href="#closed">X</a>
      </div>
    </div>
  </div> -->

  <!--Bagis Isi 2-->
  <!-- <div class="col-md-4">
    <a href="#popup2" class="popup-link">
    <img src="{% static 'about/asset/1.jpg' %}" width="200px" height="200px" style="text-align:center; clip-path: border-box; clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);">
    </a>
    <p style="font-size: 20px; color:white">Ketua</p>
    <p style="font-size: 20px; color:white">Chris Evan</p>
    <div id="popup2">
      <div class="popup-container">
        <div class="row">
          <div class="col-md-4">
            <img class="img_hexa" width="40%" height="20%" src="../../static/home/asset/Speaker/1.jpg">
            <br>
            <br>
            <h6>Divisi PusatData</h6>
            <p class="teks_isi_popup">
              Apri<br>Yusuf<br>Rafi<br>
              Apri<br>Yusuf<br>Rafi<br>
              Apri<br>Yusuf<br>Rafi<br>
            </p>
          </div>
          <div class="col-md-4">
            <img class="img_hexa" width="40%" height="20%" src="../../static/home/asset/Speaker/1.jpg">
            <br>
            <br>
            <h6>Divisi PusatData</h6>
            <p class="teks_isi_popup">
              Apri<br>Yusuf<br>Rafi<br>
              Apri<br>Yusuf<br>Rafi<br>
              Apri<br>Yusuf<br>Rafi<br>
            </p>
          </div>
          <div class="col-md-4">
            <img class="img_hexa" width="40%" height="20%" src="../../static/home/asset/Speaker/1.jpg">
            <br>
            <br>
            <h6>Divisi PusatData</h6>
            <p class="teks_isi_popup">
              Apri<br>Yusuf<br>Rafi<br>
              Apri<br>Yusuf<br>Rafi<br>
              Apri<br>Yusuf<br>Rafi<br>
            </p>
          </div>
        </div>
        <a class="popup-close" href="#closed">X</a>
      </div>
    </div>
  </div> -->

  <!--Bagian Isi 3-->
  <!-- <div class="col-md-4">
    <a href="#popup3" class="popup-link">
    <img src="{% static 'about/asset/1.jpg' %}" width="200px" height="200px" style="text-align:center; clip-path: border-box; clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);">
    </a>
    <p style="font-size: 20px; color:white">Ketua</p>
    <p style="font-size: 20px; color:white">Chris Evan</p>
    <div id="popup3">
      <div class="popup-container">
        <div class="row">
          <div class="col-md-4">
            <img class="img_hexa" width="40%" height="20%" src="../../static/home/asset/Speaker/1.jpg">
            <br>
            <br>
            <h6>Divisi PusatData</h6>
            <p class="teks_isi_popup">
              Apri<br>Yusuf<br>Rafi<br>
              Apri<br>Yusuf<br>Rafi<br>
              Apri<br>Yusuf<br>Rafi<br>
            </p>
          </div>
          <div class="col-md-4">
            <img class="img_hexa" width="40%" height="20%" src="../../static/home/asset/Speaker/1.jpg">
            <br>
            <br>
            <h6>Divisi PusatData</h6>
            <p class="teks_isi_popup">
              Apri<br>Yusuf<br>Rafi<br>
              Apri<br>Yusuf<br>Rafi<br>
              Apri<br>Yusuf<br>Rafi<br>
            </p>
          </div>
          <div class="col-md-4">
            <img class="img_hexa" width="40%" height="20%" src="../../static/home/asset/Speaker/1.jpg">
            <br>
            <br>
            <h6>Divisi PusatData</h6>
            <p class="teks_isi_popup">
              Apri<br>Yusuf<br>Rafi<br>
              Apri<br>Yusuf<br>Rafi<br>
              Apri<br>Yusuf<br>Rafi<br>
            </p>
          </div>
        </div>
        <a class="popup-close" href="#closed">X</a>
      </div>
    </div>
  </div>
</div>
<br> -->
<!--End Pop up-->
{% endblock isi %}
</body>
