{% extends 'base.html' %}
{% load static %}


{% block title %}ICoSITeR 2021{% endblock title %}

{% block style %}<link rel="stylesheet" href="{% static 'about/about.css' %}">{% endblock style %}


<body>
  <div class="main-wrapper">
{% block isi %}
   
  <div class="judul">
    <div class="bulet"></div>
    <h1>ICoSITeR 2021</h1>
    <div class="garisbawah"></div>
    <h2>SMART CITY</h2>
  </div>
  
  <div class="info">
    <img src="{% static 'about/asset/kota.png' %}">
    <div class="isiinfo">
      <div class="kontain">
        <h1>INTRODUCTION</h1>
        <div class="garisbawah"></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Vero hic ullam tenetur rem, dolor reiciendis voluptatibus corporis iste, 
          deserunt recusandae Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus ad dolore sit animi? Non mollitia, doloremque nulla atque nobis, velit, pariatur voluptatibus eum tempora consectetur molestiae error enim quidem placeat.
          nobis corrupti. Quisquam reprehenderit facere nostrum, quo quos vitae soluta.
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia debitis culpa dolore vero, aliquid ipsam sunt suscipit beatae odit, provident aut? 
          Eligendi voluptatum quas, molestias porro praesentium sunt maiores fugiat.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Vero hic ullam tenetur rem, dolor reiciendis voluptatibus corporis iste, 
            deserunt recusandae Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim voluptates soluta esse aperiam? Est, sint cumque repellat molestias, explicabo veniam, nisi repudiandae corporis eum reiciendis a maxime deleniti eveniet nam.
            nobis corrupti. Quisquam reprehenderit facere nostrum, quo quos vitae soluta.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia debitis culpa dolore vero, aliquid ipsam sunt suscipit beatae odit, provident aut? 
            Eligendi voluptatum quas, molestias porro praesentium sunt maiores fugiat.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Vero hic ullam tenetur rem, dolor reiciendis voluptatibus corporis iste, 
            deserunt recusandae Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi quaerat quos doloribus voluptate exercitationem id in doloremque necessitatibus alias, rem asperiores sit qui, hic tempora incidunt voluptatum molestias blanditiis voluptatem!
            nobis corrupti. Quisquam reprehenderit facere nostrum, quo quos vitae soluta.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia debitis culpa dolore vero, aliquid ipsam sunt suscipit beatae odit, provident aut? 
            Eligendi voluptatum quas, molestias porro praesentium sunt maiores fugiat.</p>
      </div>
    </div>
    <img id="kebalik" src="{% static 'about/asset/kota.png' %}">
  </div>
  <br><br><br><br><br><br>
  <br><br><br><br><br><br>
{% endblock isi %}
</body>
