<div class="popup-wrapper">
    <!-- Secretary Popup -->
    <div id="popup-secretary" class="popup text-white">
        <div class="popup-body popup-single">
          <div class="popup-info">
            <div class="popup-info-head">
              <div class="popup-info-img">
                <svg class="popup-img-svg" viewBox="0 0 228 201">
                  <path d="M228 0H0V200.895H228V0Z" fill="url(#hexagon-pattern)"/>
                </svg>
                <img class="popup-img" src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="popup-info-title">
                <h3>
                  General Secretary 2
                </h3>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
          </div>
        </div>
        <a class="popup-close" href="javascript:void(0);" onclick="togglePopup('popup-secretary')">
          <svg width="55" height="29" viewBox="0 0 55 29" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M52 14.5H8" stroke="white" stroke-width="5" stroke-linecap="round"/>
            <path d="M16 3L4.5 14.5L16 26" stroke="white" stroke-width="5" stroke-linecap="round"/>
          </svg>
        </a>
      </div>

      <!-- Treasurer Popup -->
      <div id="popup-treasurer" class="popup text-white">
        <div class="popup-body popup-single">
          <div class="popup-info">
            <div class="popup-info-head">
              <div class="popup-info-img">
                <svg class="popup-img-svg" viewBox="0 0 228 201">
                  <path d="M228 0H0V200.895H228V0Z" fill="url(#hexagon-pattern)"/>
                </svg>
                <img class="popup-img" src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="popup-info-title">
                <h3>
                  General Treasurer 2
                </h3>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
          </div>
        </div>
        <a class="popup-close" href="javascript:void(0);" onclick="togglePopup('popup-treasurer')">
          <svg width="55" height="29" viewBox="0 0 55 29" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M52 14.5H8" stroke="white" stroke-width="5" stroke-linecap="round"/>
            <path d="M16 3L4.5 14.5L16 26" stroke="white" stroke-width="5" stroke-linecap="round"/>
          </svg>
        </a>
      </div>

      <!-- Event Division Popup -->
      <div id="popup-eventDiv" class="popup text-white">
        <div class="popup-body popup-main">
          <div class="popup-info">
            <div class="popup-info-head">
              <div class="popup-info-img">
                <svg class="popup-img-svg" viewBox="0 0 228 201">
                  <path d="M228 0H0V200.895H228V0Z" fill="url(#hexagon-pattern)"/>
                </svg>
                <img class="popup-img" src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="popup-info-title">
                <h3>
                  Head of Event Management Subdivision
                </h3>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
            <div class="popup-info-text">
              <div class="popup-info-text-content col">
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
              </div>
              <div class="popup-info-text-content col">
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
          </div>
          <div class="flex-divisor"></div>
          <div class="popup-info">
            <div class="popup-info-head">
              <div class="popup-info-img">
                <svg class="popup-img-svg" viewBox="0 0 228 201">
                  <path d="M228 0H0V200.895H228V0Z" fill="url(#hexagon-pattern)"/>
                </svg>
                <img class="popup-img" src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="popup-info-title">
                <h3>
                  Head of Materials and Competitions Subdivision
                </h3>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
            <div class="popup-info-text">
              <div class="popup-info-text-content col">
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
          </div>
          <div class="flex-divisor"></div>
          <div class="popup-info">
            <div class="popup-info-head">
              <div class="popup-info-img">
                <svg class="popup-img-svg" viewBox="0 0 228 201">
                  <path d="M228 0H0V200.895H228V0Z" fill="url(#hexagon-pattern)"/>
                </svg>
                <img class="popup-img" src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="popup-info-title">
                <h3>
                  Head of Journal Substance Management Subdivision
                </h3>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
            <div class="popup-info-text">
              <div class="popup-info-text-content col">
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
          </div>
        </div>
        <a class="popup-close" href="javascript:void(0);" onclick="togglePopup('popup-eventDiv')">
          <svg width="55" height="29" viewBox="0 0 55 29" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M52 14.5H8" stroke="white" stroke-width="5" stroke-linecap="round"/>
            <path d="M16 3L4.5 14.5L16 26" stroke="white" stroke-width="5" stroke-linecap="round"/>
          </svg>
        </a>
      </div>

      <!-- External Division Popup -->
      <div id="popup-externalDiv" class="popup text-white">
        <div class="popup-body popup-main">
          <div class="popup-info">
            <div class="popup-info-head">
              <div class="popup-info-img">
                <svg class="popup-img-svg" viewBox="0 0 228 201">
                  <path d="M228 0H0V200.895H228V0Z" fill="url(#hexagon-pattern)"/>
                </svg>
                <img class="popup-img" src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="popup-info-title">
                <h3>
                  Head of  Subdivision
                </h3>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
            <div class="popup-info-text">
              <div class="popup-info-text-content col">
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
              </div>
              <div class="popup-info-text-content col">
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
          </div>
          <div class="popup-info">
            <div class="popup-info-head">
              <div class="popup-info-img">
                <svg class="popup-img-svg" viewBox="0 0 228 201">
                  <path d="M228 0H0V200.895H228V0Z" fill="url(#hexagon-pattern)"/>
                </svg>
                <img class="popup-img" src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="popup-info-title">
                <h3>
                  Head of  Subdivision
                </h3>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
            <div class="popup-info-text">
              <div class="popup-info-text-content col">
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
              </div>
              <div class="popup-info-text-content col">
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
          </div>
        </div>
        <a class="popup-close" href="javascript:void(0);" onclick="togglePopup('popup-externalDiv')">
          <svg width="55" height="29" viewBox="0 0 55 29" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M52 14.5H8" stroke="white" stroke-width="5" stroke-linecap="round"/>
            <path d="M16 3L4.5 14.5L16 26" stroke="white" stroke-width="5" stroke-linecap="round"/>
          </svg>
        </a>
      </div>

      <!-- Operational Division Popup -->
      <div id="popup-operationalDiv" class="popup text-white">
        <div class="popup-body popup-main">
          <div class="popup-info">
            <div class="popup-info-head">
              <div class="popup-info-img">
                <svg class="popup-img-svg" viewBox="0 0 228 201">
                  <path d="M228 0H0V200.895H228V0Z" fill="url(#hexagon-pattern)"/>
                </svg>
                <img class="popup-img" src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="popup-info-title">
                <h3>
                  Head of Infrastructure Subdivision
                </h3>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
            <div class="popup-info-text">
              <div class="popup-info-text-content col">
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
              </div>
              <div class="popup-info-text-content col">
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
              </div>
              <div class="popup-info-text-content col">
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
          </div>
          <div class="popup-info">
            <div class="popup-info-head">
              <div class="popup-info-img">
                <svg class="popup-img-svg" viewBox="0 0 228 201">
                  <path d="M228 0H0V200.895H228V0Z" fill="url(#hexagon-pattern)"/>
                </svg>
                <img class="popup-img" src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="popup-info-title">
                <h3>
                  Head of Licensing Subdivision
                </h3>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
            <div class="popup-info-text">
              <div class="popup-info-text-content col">
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
              </div>
              <div class="popup-info-text-content col">
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
          </div>
        </div>
        <a class="popup-close" href="javascript:void(0);" onclick="togglePopup('popup-operationalDiv')">
          <svg width="55" height="29" viewBox="0 0 55 29" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M52 14.5H8" stroke="white" stroke-width="5" stroke-linecap="round"/>
            <path d="M16 3L4.5 14.5L16 26" stroke="white" stroke-width="5" stroke-linecap="round"/>
          </svg>
        </a>
      </div>

      <!-- Creative Division Popup -->
      <div id="popup-creativeDiv" class="popup text-white">
        <div class="popup-body popup-main">
          <div class="popup-info">
            <div class="popup-info-head">
              <div class="popup-info-img">
                <svg class="popup-img-svg" viewBox="0 0 228 201">
                  <path d="M228 0H0V200.895H228V0Z" fill="url(#hexagon-pattern)"/>
                </svg>
                <img class="popup-img" src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="popup-info-title">
                <h3>
                  Head of  Subdivision
                </h3>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
            <div class="popup-info-text">
              <div class="popup-info-text-content col">
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
              </div>
              <div class="popup-info-text-content col">
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
              </div>
              <div class="popup-info-text-content col">
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
          </div>
          <div class="popup-info">
            <div class="popup-info-head">
              <div class="popup-info-img">
                <svg class="popup-img-svg" viewBox="0 0 228 201">
                  <path d="M228 0H0V200.895H228V0Z" fill="url(#hexagon-pattern)"/>
                </svg>
                <img class="popup-img" src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="popup-info-title">
                <h3>
                  Head of  Subdivision
                </h3>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
            <div class="popup-info-text">
              <div class="popup-info-text-content col">
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
          </div>
        </div>
        <a class="popup-close" href="javascript:void(0);" onclick="togglePopup('popup-creativeDiv')">
          <svg width="55" height="29" viewBox="0 0 55 29" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M52 14.5H8" stroke="white" stroke-width="5" stroke-linecap="round"/>
            <path d="M16 3L4.5 14.5L16 26" stroke="white" stroke-width="5" stroke-linecap="round"/>
          </svg>
        </a>
      </div>

      <!-- Data Center Division Popup -->
      <div id="popup-dataCenterDiv" class="popup text-white">
        <div class="popup-body popup-main">
          <div class="popup-info">
            <div class="popup-info-head">
              <div class="popup-info-img">
                <svg class="popup-img-svg" viewBox="0 0 228 201">
                  <path d="M228 0H0V200.895H228V0Z" fill="url(#hexagon-pattern)"/>
                </svg>
                <img class="popup-img" src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="popup-info-title">
                <h3>
                  Head of Website Subdivision
                </h3>
                <p>
                  Enrico Johanes S
                </p>
              </div>
            </div>
            <div class="popup-info-text">
              <div class="popup-info-text-content col">
                <p>
                  Rafi Arya Nugraha
                </p>
                <p>
                  Apri Kurniawansyah
                </p>
                <p>
                  Yusuf Hafidz
                </p>
                <p>
                  Fitra Ilyasa
                </p>
                <p>
                  Hafizh Londata
                </p>
                <p>
                  Ihtiando Wicaksono
                </p>
                <p>
                  Perdana Raga Winata
                </p>
                <p>
                  Laila Cintya Anggara
                </p>
              </div>
              <div class="popup-info-text-content col">
                <p>
                  Rikhwan Fatih Fiardhi
                </p>
                <p>
                  Muhammad Farhan Ibnu Fakhreza
                </p>
              </div>
            </div>
          </div>
          <div class="popup-info">
            <div class="popup-info-head">
              <div class="popup-info-img">
                <svg class="popup-img-svg" viewBox="0 0 228 201">
                  <path d="M228 0H0V200.895H228V0Z" fill="url(#hexagon-pattern)"/>
                </svg>
                <img class="popup-img" src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="popup-info-title">
                <h3>
                  Head of Data Collection Subdivision
                </h3>
                <p>
                  M. Rafi Imani Hansa
                </p>
              </div>
            </div>
            <div class="popup-info-text">
              <div class="popup-info-text-content col">
                <p>
                  Anindita Nanda Wiguna
                </p>
                <p>
                  Sindy Alvina
                </p>
                <p>
                  Marleni Syifa Yulianita
                </p>
                <p>
                  Dessy Siar Rehulina Br Sembiring
                </p>
              </div>
            </div>
          </div>
        </div>
        <a class="popup-close" href="javascript:void(0);" onclick="togglePopup('popup-dataCenterDiv')">
          <svg width="55" height="29" viewBox="0 0 55 29" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M52 14.5H8" stroke="white" stroke-width="5" stroke-linecap="round"/>
            <path d="M16 3L4.5 14.5L16 26" stroke="white" stroke-width="5" stroke-linecap="round"/>
          </svg>
        </a>
      </div>

      <!-- Cominfo Division Popup -->
      <div id="popup-cominfoDiv" class="popup text-white">
        <div class="popup-body popup-main">
          <div class="popup-info">
            <div class="popup-info-head">
              <div class="popup-info-img">
                <svg class="popup-img-svg" viewBox="0 0 228 201">
                  <path d="M228 0H0V200.895H228V0Z" fill="url(#hexagon-pattern)"/>
                </svg>
                <img class="popup-img" src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="popup-info-title">
                <h3>
                  Head of  Subdivision
                </h3>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
            <div class="popup-info-text">
              <div class="popup-info-text-content col">
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
              </div>
              <div class="popup-info-text-content col">
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
          </div>
          <div class="popup-info">
            <div class="popup-info-head">
              <div class="popup-info-img">
                <svg class="popup-img-svg" viewBox="0 0 228 201">
                  <path d="M228 0H0V200.895H228V0Z" fill="url(#hexagon-pattern)"/>
                </svg>
                <img class="popup-img" src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="popup-info-title">
                <h3>
                  Head of  Subdivision
                </h3>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
            <div class="popup-info-text">
              <div class="popup-info-text-content col">
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
              </div>
              <div class="popup-info-text-content col">
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
          </div>
          <div class="popup-info">
            <div class="popup-info-head">
              <div class="popup-info-img">
                <svg class="popup-img-svg" viewBox="0 0 228 201">
                  <path d="M228 0H0V200.895H228V0Z" fill="url(#hexagon-pattern)"/>
                </svg>
                <img class="popup-img" src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="popup-info-title">
                <h3>
                  Head of  Subdivision
                </h3>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
            <div class="popup-info-text">
              <div class="popup-info-text-content col">
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
              </div>
              <div class="popup-info-text-content col">
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
          </div>
        </div>
        <a class="popup-close" href="javascript:void(0);" onclick="togglePopup('popup-cominfoDiv')">
          <svg width="55" height="29" viewBox="0 0 55 29" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M52 14.5H8" stroke="white" stroke-width="5" stroke-linecap="round"/>
            <path d="M16 3L4.5 14.5L16 26" stroke="white" stroke-width="5" stroke-linecap="round"/>
          </svg>
        </a>
      </div>

      <!-- Fundraising Division Popup -->
      <div id="popup-fundDiv" class="popup text-white">
        <div class="popup-body popup-main">
          <div class="popup-info">
            <div class="popup-info-head">
              <div class="popup-info-img">
                <svg class="popup-img-svg" viewBox="0 0 228 201">
                  <path d="M228 0H0V200.895H228V0Z" fill="url(#hexagon-pattern)"/>
                </svg>
                <img class="popup-img" src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="popup-info-title">
                <h3>
                  Head of  Subdivision
                </h3>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
            <div class="popup-info-text">
              <div class="popup-info-text-content col">
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
          </div>
          <div class="popup-info">
            <div class="popup-info-head">
              <div class="popup-info-img">
                <svg class="popup-img-svg" viewBox="0 0 228 201">
                  <path d="M228 0H0V200.895H228V0Z" fill="url(#hexagon-pattern)"/>
                </svg>
                <img class="popup-img" src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="popup-info-title">
                <h3>
                  Head of  Subdivision
                </h3>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
            <div class="popup-info-text">
              <div class="popup-info-text-content col">
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
          </div>
        </div>
        <a class="popup-close" href="javascript:void(0);" onclick="togglePopup('popup-fundDiv')">
          <svg width="55" height="29" viewBox="0 0 55 29" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M52 14.5H8" stroke="white" stroke-width="5" stroke-linecap="round"/>
            <path d="M16 3L4.5 14.5L16 26" stroke="white" stroke-width="5" stroke-linecap="round"/>
          </svg>
        </a>
      </div>

      <!-- Accomodation Division Popup -->
      <div id="popup-accomodationDiv" class="popup text-white">
        <div class="popup-body popup-alt">
          <div class="popup-info">
            <div class="popup-info-head">
              <div class="popup-info-img">
                <svg class="popup-img-svg" viewBox="0 0 228 201">
                  <path d="M228 0H0V200.895H228V0Z" fill="url(#hexagon-pattern)"/>
                </svg>
                <img class="popup-img" src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="popup-info-title">
                <h3>
                  Deputy Head of Accomodation Division
                </h3>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
            <div class="popup-info-text">
              <div class="popup-info-text-content col">
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
          </div>
        </div>
        <a class="popup-close" href="javascript:void(0);" onclick="togglePopup('popup-accomodationDiv')">
          <svg width="55" height="29" viewBox="0 0 55 29" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M52 14.5H8" stroke="white" stroke-width="5" stroke-linecap="round"/>
            <path d="M16 3L4.5 14.5L16 26" stroke="white" stroke-width="5" stroke-linecap="round"/>
          </svg>
        </a>
      </div>

      <!-- Consumption Division Popup -->
      <div id="popup-consumptionDiv" class="popup text-white">
        <div class="popup-body popup-main">
          <div class="popup-info">
            <div class="popup-info-head">
              <div class="popup-info-img">
                <svg class="popup-img-svg" viewBox="0 0 228 201">
                  <path d="M228 0H0V200.895H228V0Z" fill="url(#hexagon-pattern)"/>
                </svg>
                <img class="popup-img" src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="popup-info-title">
                <h3>
                  Head of  Subdivision
                </h3>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
            <div class="popup-info-text">
              <div class="popup-info-text-content col">
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
              </div>
              <div class="popup-info-text-content col">
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
                <p>
                  Lorem Ipsum
                </p>
              </div>
            </div>
          </div>
        </div>
        <a class="popup-close" href="javascript:void(0);" onclick="togglePopup('popup-consumptionDiv')">
          <svg width="55" height="29" viewBox="0 0 55 29" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M52 14.5H8" stroke="white" stroke-width="5" stroke-linecap="round"/>
            <path d="M16 3L4.5 14.5L16 26" stroke="white" stroke-width="5" stroke-linecap="round"/>
          </svg>
        </a>
      </div>

</div>

<!-- Template Popup -->

<!-- <div id="popup-ID" class="popup text-white">
    <div class="popup-body popup-main">
      <div class="popup-info">
        <div class="popup-info-head">
          <div class="popup-info-img">
            <svg class="popup-img-svg" viewBox="0 0 228 201">
              <path d="M228 0H0V200.895H228V0Z" fill="url(#hexagon-pattern)"/>
            </svg>
            <img class="popup-img" src="{% static 'about/asset/1.jpg' %}">
          </div>
          <div class="popup-info-title">
            <h3>
              Head of  Subdivision
            </h3>
            <p>
              
            </p>
          </div>
        </div>
        <div class="popup-info-text">
          <div class="popup-info-text-content col">
            <p>
              
            </p>
            <p>
              
            </p>
            <p>
              
            </p>
            <p>
              
            </p>
            <p>
              
            </p>
            <p>
              
            </p>
            <p>
              
            </p>
            <p>
              
            </p>
          </div>
        </div>
      </div>
    </div>
    <a class="popup-close" href="javascript:void(0);" onclick="togglePopup('popup-ID')">
      <svg width="55" height="29" viewBox="0 0 55 29" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M52 14.5H8" stroke="white" stroke-width="5" stroke-linecap="round"/>
        <path d="M16 3L4.5 14.5L16 26" stroke="white" stroke-width="5" stroke-linecap="round"/>
      </svg>
    </a>
  </div> -->