{% load static %}
<div class="popup-wrapper">
    <!-- Secretary Popup -->
    <div id="popup-secretary" class="popup text-white">
        <div class="popup-body popup-single">
          <div class="popup-info">
            <div class="popup-info-head">
              <div class="popup-info-img">
                <svg class="popup-img-svg" viewBox="0 0 228 201">
                  <path d="M228 0H0V200.895H228V0Z" fill="url(#hexagon-pattern)"/>
                </svg>
                <img class="popup-img" src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="popup-info-title">
                <h3>
                  General Secretary 2
                </h3>
                <p>
                  Alvira Sudirman
                </p>
              </div>
            </div>
          </div>
        </div>
        <a class="popup-close" href="javascript:void(0);" onclick="togglePopup('popup-secretary')">
          <svg width="55" height="29" viewBox="0 0 55 29" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M52 14.5H8" stroke="white" stroke-width="5" stroke-linecap="round"/>
            <path d="M16 3L4.5 14.5L16 26" stroke="white" stroke-width="5" stroke-linecap="round"/>
          </svg>
        </a>
      </div>

      <!-- Treasurer Popup -->
      <div id="popup-treasurer" class="popup text-white">
        <div class="popup-body popup-single">
          <div class="popup-info">
            <div class="popup-info-head">
              <div class="popup-info-img">
                <svg class="popup-img-svg" viewBox="0 0 228 201">
                  <path d="M228 0H0V200.895H228V0Z" fill="url(#hexagon-pattern)"/>
                </svg>
                <img class="popup-img" src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="popup-info-title">
                <h3>
                  General Treasurer 2
                </h3>
                <p>
                  Nurul Aini
                </p>
              </div>
            </div>
          </div>
        </div>
        <a class="popup-close" href="javascript:void(0);" onclick="togglePopup('popup-treasurer')">
          <svg width="55" height="29" viewBox="0 0 55 29" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M52 14.5H8" stroke="white" stroke-width="5" stroke-linecap="round"/>
            <path d="M16 3L4.5 14.5L16 26" stroke="white" stroke-width="5" stroke-linecap="round"/>
          </svg>
        </a>
      </div>

      <!-- Event Division Popup -->
      <div id="popup-eventDiv" class="popup text-white">
        <div class="popup-body popup-main">
          <div class="popup-info">
            <div class="popup-info-head">
              <div class="popup-info-img">
                <svg class="popup-img-svg" viewBox="0 0 228 201">
                  <path d="M228 0H0V200.895H228V0Z" fill="url(#hexagon-pattern)"/>
                </svg>
                <img class="popup-img" src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="popup-info-title">
                <h3>
                  Head of Event Management Subdivision
                </h3>
                <p>
                  Fahri Novaldi
                </p>
              </div>
            </div>
            <div class="popup-info-text">
              <div class="popup-info-text-content col">
                <p>
                  Kurnia Andromeda
                </p>
                <p>
                  Reynaldi Andinata
                </p>
                <p>
                  Yashinta Ayu Dya
                </p>
                <p>
                  Anastasya Gloria Eveline
                </p>
                <p>
                  Renaldi Manurung
                </p>
                <p>
                  Tiara Fitri Afriliza
                </p>

              </div>
              <div class="popup-info-text-content col">
                <p>
                  Desdy Anggraeni
                </p>
                <p>
                  Dwi Liza Ramadiani
                </p>
                <p>
                  Muhammad Rivan Hasri
                </p>
                <p>
                  Florian Naufal Nugroho
                </p>
                <p>
                  Rindi Antika
                </p>
              </div>
            </div>
          </div>
          <div class="flex-divisor"></div>
          <div class="popup-info">
            <div class="popup-info-head">
              <div class="popup-info-img">
                <svg class="popup-img-svg" viewBox="0 0 228 201">
                  <path d="M228 0H0V200.895H228V0Z" fill="url(#hexagon-pattern)"/>
                </svg>
                <img class="popup-img" src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="popup-info-title">
                <h3>
                  Head of Materials and Competitions Subdivision
                </h3>
                <p>
                  Deborah Yohanna Natania
                </p>
              </div>
            </div>
            <div class="popup-info-text">
              <div class="popup-info-text-content col">
                <p>
                  Meilinda Caesardini
                </p>
                <p>
                  Fajri Aditya
                </p>
                <p>
                  Adelia Mutiara Zulna
                </p>
                <p>
                  Osama Alfatheen
                </p>
                <p>
                  Rara Fitra Oktora
                </p>
                <p>
                  Dharma Afri Sandi
                </p>
                <p>
                  Gery Melia Suwanda
                </p>
                <p>
                  Nadila Pangestika Utami
                </p>
              </div>
            </div>
          </div>
          <div class="flex-divisor"></div>
          <div class="popup-info">
            <div class="popup-info-head">
              <div class="popup-info-img">
                <svg class="popup-img-svg" viewBox="0 0 228 201">
                  <path d="M228 0H0V200.895H228V0Z" fill="url(#hexagon-pattern)"/>
                </svg>
                <img class="popup-img" src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="popup-info-title">
                <h3>
                  Head of Journal Substance Management Subdivision
                </h3>
                <p>
                  Lidya Margareth
                </p>
              </div>
            </div>
            <div class="popup-info-text">
              <div class="popup-info-text-content col">
                <p>
                  Karina Firgynia Geraldine
                </p>
                <p>
                  Adelia Pragesti
                </p>
                <p>
                  Grace Natalia Elfira Purba
                </p>
              </div>
            </div>
          </div>
        </div>
        <a class="popup-close" href="javascript:void(0);" onclick="togglePopup('popup-eventDiv')">
          <svg width="55" height="29" viewBox="0 0 55 29" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M52 14.5H8" stroke="white" stroke-width="5" stroke-linecap="round"/>
            <path d="M16 3L4.5 14.5L16 26" stroke="white" stroke-width="5" stroke-linecap="round"/>
          </svg>
        </a>
      </div>

      <!-- External Division Popup -->
      <div id="popup-externalDiv" class="popup text-white">
        <div class="popup-body popup-main">
          <div class="popup-info">
            <div class="popup-info-head">
              <div class="popup-info-img">
                <svg class="popup-img-svg" viewBox="0 0 228 201">
                  <path d="M228 0H0V200.895H228V0Z" fill="url(#hexagon-pattern)"/>
                </svg>
                <img class="popup-img" src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="popup-info-title">
                <h3>
                  Head of Media Partner Subdivision
                </h3>
                <p>
                  Azica Kurnia Nirwana
                </p>
              </div>
            </div>
            <div class="popup-info-text">
              <div class="popup-info-text-content col">
                <p>
                  Jasmine Amelia Anjani 
                </p>
                <p>
                  Nabila Ferdiana
                </p>
                <p>
                  Wahyu Kartika Febrianti
                </p>
                <p>
                  Rainaldy Husain
                </p>
                <p>
                  Imam Nur Arifin
                </p>
                <p>
                  Sellystia Ariani
                </p>
                <p>
                  Yohannes Pardi L.Tobing
                </p>
              </div>
            </div>
          </div>
          <div class="popup-info">
            <div class="popup-info-head">
              <div class="popup-info-img">
                <svg class="popup-img-svg" viewBox="0 0 228 201">
                  <path d="M228 0H0V200.895H228V0Z" fill="url(#hexagon-pattern)"/>
                </svg>
                <img class="popup-img" src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="popup-info-title">
                <h3>
                  Head of SubDivision of Public Relations
                </h3>
                <p>
                  Nabila Azzahra
                </p>
              </div>
            </div>
            <div class="popup-info-text">
              <div class="popup-info-text-content col">
                <p>
                  Tabina Izzati Azra 
                </p>
                <p>
                  Chairunnisa Aulia
                </p>
                <p>
                  Dhiya Muthia Fadhilah
                </p>
                <p>
                  Adinda Fitri Nur Faridah
                </p>
                <p>
                  Rahma Amalia
                </p>
              </div>
              <div class="popup-info-text-content col">
                <p>
                  Devina Azzahra Chairunnisa
                </p>
                <p>
                  M.Angga Abdul <br>Aziz Guba
                </p>
                <p>
                  Ido Ramdani
                </p>
                <p>
                  Fazira Azzahra H
                </p>
                <p>
                  Muhammad A.M <br>Hikar Syahrial
                </p>
              </div>
            </div>
          </div>
        </div>
        <a class="popup-close" href="javascript:void(0);" onclick="togglePopup('popup-externalDiv')">
          <svg width="55" height="29" viewBox="0 0 55 29" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M52 14.5H8" stroke="white" stroke-width="5" stroke-linecap="round"/>
            <path d="M16 3L4.5 14.5L16 26" stroke="white" stroke-width="5" stroke-linecap="round"/>
          </svg>
        </a>
      </div>

      <!-- Operational Division Popup -->
      <div id="popup-operationalDiv" class="popup text-white">
        <div class="popup-body popup-main">
          <div class="popup-info">
            <div class="popup-info-head">
              <div class="popup-info-img">
                <svg class="popup-img-svg" viewBox="0 0 228 201">
                  <path d="M228 0H0V200.895H228V0Z" fill="url(#hexagon-pattern)"/>
                </svg>
                <img class="popup-img" src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="popup-info-title">
                <h3>
                  Head of Infrastructure Subdivision
                </h3>
                <p>
                  Widodo
                </p>
              </div>
            </div>
            <div class="popup-info-text">
              <div class="popup-info-text-content col">
                <p>
                  Selly Permata Sari
                </p>
                <p>
                  Farros Daffa Churrifan
                </p>
                <p>
                  Satriani Syarma Fasih
                </p>
                <p>
                  Immanuel Giri Lathan Silas
                </p>
                <p>
                  Kresna Bayu Wicaksono
                </p>
                <p>
                  Maulidya Ranti
                </p>
                <p>
                  Wafiq Azizah 
                </p>
              </div>
              <div class="popup-info-text-content col">
                <p>
                  Fardhan Gurun S. Y
                </p>
                <p>
                  Alvieno M. Ishaq
                </p>
                <p>
                  Bobby Zulkarnaen
                </p>
                <p>
                  Aissyafira Kamila Balqis
                </p>
                <p>
                  Ari Setia Franata
                </p>
                <p>
                  Talitha Luthfiyah Erina Tiyasa
                </p>
                <p>
                  Rahmat Ramadhan Wahab
                </p>
              </div>
              <div class="popup-info-text-content col">
                <p>
                  Lulu Mussabiqoh
                </p>
                <p>
                  Aushaf Nabil Ardhani
                </p>
                <p>
                  Ahmad Zufar
                </p>
                <p>
                  Ryan Ensya Aria Dzikri
                </p>
                <p>
                  Claudia Cindy Anggiyan
                </p>
                <p>
                  Yosef Setiawan
                </p>
              </div>
            </div>
          </div>
          <div class="popup-info">
            <div class="popup-info-head">
              <div class="popup-info-img">
                <svg class="popup-img-svg" viewBox="0 0 228 201">
                  <path d="M228 0H0V200.895H228V0Z" fill="url(#hexagon-pattern)"/>
                </svg>
                <img class="popup-img" src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="popup-info-title">
                <h3>
                  Head of Licensing Subdivision
                </h3>
                <p>
                  Velisa Hanna
                </p>
              </div>
            </div>
            <div class="popup-info-text">
              <div class="popup-info-text-content col">
                <p>
                  Muamar Hafiz
                </p>
                <p>
                  Jesika Wulan B.P
                </p>
                <p>
                  Annisa Rahmawati
                </p>
                <p>
                  Dellvika Zukri
                </p>
                <p>
                  Joshua Geraldin Silalahi
                </p>
              </div>
              <div class="popup-info-text-content col">
                <p>
                  Sekar Ambarsari Sujatmiko Putri
                </p>
                <p>
                  Hafizd Raka Ramadhan
                </p>
                <p>
                  Fatimah Azzahra
                </p>
                <p>
                  Yessi Dwi Putri Marbun
                </p>
              </div>
            </div>
          </div>
        </div>
        <a class="popup-close" href="javascript:void(0);" onclick="togglePopup('popup-operationalDiv')">
          <svg width="55" height="29" viewBox="0 0 55 29" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M52 14.5H8" stroke="white" stroke-width="5" stroke-linecap="round"/>
            <path d="M16 3L4.5 14.5L16 26" stroke="white" stroke-width="5" stroke-linecap="round"/>
          </svg>
        </a>
      </div>

      <!-- Creative Division Popup -->
      <div id="popup-creativeDiv" class="popup text-white">
        <div class="popup-body popup-main">
          <div class="popup-info">
            <div class="popup-info-head">
              <div class="popup-info-img">
                <svg class="popup-img-svg" viewBox="0 0 228 201">
                  <path d="M228 0H0V200.895H228V0Z" fill="url(#hexagon-pattern)"/>
                </svg>
                <img class="popup-img" src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="popup-info-title">
                <h3>
                  Head of Decoration Subdivision
                </h3>
                <p>
                  Wahyu Pratama
                </p>
              </div>
            </div>
            <div class="popup-info-text">
              <div class="popup-info-text-content col">
                <p>
                  Leonardo Fernanda
                </p>
                <p>
                  Gabriella Olivia
                </p>
                <p>
                  Shendi Anugrah Oktariyanto
                </p>
                <p>
                  Loria Oktaviane
                </p>
                <p>
                  Deni Ignatius R. Nainggolan
                </p>
                <p>
                  Rio Jusendi
                </p>
                <p>
                  Tekad Agung suganda
                </p>
              </div>
              <div class="popup-info-text-content col">
                <p>
                  Firma Rianingsih
                </p>
                <p>
                  Safa Indah Andini
                </p>
                <p>
                  Frady Muhammad Ikbal
                </p>
                <p>
                  Edo Bagus Sajiwo
                </p>
                <p>
                  Hendrikus Fernando Figo Timang
                </p>
                <p>
                  Lio Anggara
                </p>
                <p>
                  Robi Nugroho Raharjo
                </p>
              </div>
              <div class="popup-info-text-content col">
                <p>
                  Divany Alsa DS 
                </p>
                <p>
                  Muhammad Yafi Brilianto
                </p>
                <p>
                  Alifah Ahzara
                </p>
                <p>
                  Alifatul Andreyani
                </p>
                <p>
                  Annas Rizki Fadhillah
                </p>
                <p>
                  Ilham Rahmatullah
                </p>
                <p>
                  Hardiv Bima Takeru Hutapea
                </p>
              </div>
            </div>
          </div>
          <div class="popup-info">
            <div class="popup-info-head">
              <div class="popup-info-img">
                <svg class="popup-img-svg" viewBox="0 0 228 201">
                  <path d="M228 0H0V200.895H228V0Z" fill="url(#hexagon-pattern)"/>
                </svg>
                <img class="popup-img" src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="popup-info-title">
                <h3>
                  Head of Virtual Exhibition Design Subdivision
                </h3>
                <p>
                  Itsna Fauziyyah
                </p>
              </div>
            </div>
            <div class="popup-info-text">
              <div class="popup-info-text-content col">
                <p>
                  Justian Rene <br>Engelbert Wagania
                </p>
                <p>
                  Sophia Nouriska
                </p>
                <p>
                  Abid Fauzan
                </p>
                <p>
                  Selviana ayu mustofa
                </p>
                <p>
                  Zayyanul Ilma
                </p>
              </div>
            </div>
          </div>
        </div>
        <a class="popup-close" href="javascript:void(0);" onclick="togglePopup('popup-creativeDiv')">
          <svg width="55" height="29" viewBox="0 0 55 29" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M52 14.5H8" stroke="white" stroke-width="5" stroke-linecap="round"/>
            <path d="M16 3L4.5 14.5L16 26" stroke="white" stroke-width="5" stroke-linecap="round"/>
          </svg>
        </a>
      </div>

      <!-- Data Center Division Popup -->
      <div id="popup-dataCenterDiv" class="popup text-white">
        <div class="popup-body popup-main">
          <div class="popup-info">
            <div class="popup-info-head">
              <div class="popup-info-img">
                <svg class="popup-img-svg" viewBox="0 0 228 201">
                  <path d="M228 0H0V200.895H228V0Z" fill="url(#hexagon-pattern)"/>
                </svg>
                <img class="popup-img" src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="popup-info-title">
                <h3>
                  Head of Website Subdivision
                </h3>
                <p>
                  Enrico Johanes S
                </p>
              </div>
            </div>
            <div class="popup-info-text">
              <div class="popup-info-text-content col">
                <p>
                  Rafi Arya Nugraha
                </p>
                <p>
                  Apri Kurniawansyah
                </p>
                <p>
                  Yusuf Hafidz
                </p>
                <p>
                  Fitra Ilyasa
                </p>
                <p>
                  Hafizh Londata
                </p>
              </div>
              <div class="popup-info-text-content col">
                <p>
                  Ihtiando Wicaksono
                </p>
                <p>
                  Perdana Raga Winata
                </p>
                <p>
                  Laila Cintya Anggara
                </p>
                <p>
                  Rikhwan Fatih Fiardhi
                </p>
                <p>
                  Muhammad Farhan Ibnu Fakhreza
                </p>
              </div>
            </div>
          </div>
          <div class="popup-info">
            <div class="popup-info-head">
              <div class="popup-info-img">
                <svg class="popup-img-svg" viewBox="0 0 228 201">
                  <path d="M228 0H0V200.895H228V0Z" fill="url(#hexagon-pattern)"/>
                </svg>
                <img class="popup-img" src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="popup-info-title">
                <h3>
                  Head of Data Collection Subdivision
                </h3>
                <p>
                  M. Rafi Imani Hansa
                </p>
              </div>
            </div>
            <div class="popup-info-text">
              <div class="popup-info-text-content col">
                <p>
                  Anindita Nanda Wiguna
                </p>
                <p>
                  Sindy Alvina
                </p>
                <p>
                  Marleni Syifa Yulianita
                </p>
                <p>
                  Dessy Siar Rehulina Br Sembiring
                </p>
              </div>
            </div>
          </div>
        </div>
        <a class="popup-close" href="javascript:void(0);" onclick="togglePopup('popup-dataCenterDiv')">
          <svg width="55" height="29" viewBox="0 0 55 29" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M52 14.5H8" stroke="white" stroke-width="5" stroke-linecap="round"/>
            <path d="M16 3L4.5 14.5L16 26" stroke="white" stroke-width="5" stroke-linecap="round"/>
          </svg>
        </a>
      </div>

      <!-- Cominfo Division Popup -->
      <div id="popup-cominfoDiv" class="popup text-white">
        <div class="popup-body popup-main">
          <div class="popup-info">
            <div class="popup-info-head">
              <div class="popup-info-img">
                <svg class="popup-img-svg" viewBox="0 0 228 201">
                  <path d="M228 0H0V200.895H228V0Z" fill="url(#hexagon-pattern)"/>
                </svg>
                <img class="popup-img" src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="popup-info-title">
                <h3>
                  Head of Subdivision of <br>Publication & content creator
                </h3>
                <p>
                  Graldine Novita Sari Saragih
                </p>
              </div>
            </div>
            <div class="popup-info-text">
              <div class="popup-info-text-content col">
                <p>
                  Karina Nur Aliyyah
                </p>
                <p>
                  Annisa Nurul Putri
                </p>
                <p>
                  Lintong Mangasi <br> Gabriel Sihombing
                </p>
                <p>
                  Yesica Tumim Siburian
                </p>
                <p>
                  Jovita Delphia Syifa
                </p>
                <p>
                  Fanny Fatih Rahmah
                </p>
              </div>
            </div>
          </div>
          <div class="popup-info">
            <div class="popup-info-head">
              <div class="popup-info-img">
                <svg class="popup-img-svg" viewBox="0 0 228 201">
                  <path d="M228 0H0V200.895H228V0Z" fill="url(#hexagon-pattern)"/>
                </svg>
                <img class="popup-img" src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="popup-info-title">
                <h3>
                  Head of Documentation Subdivision
                </h3>
                <p>
                  Sultan Rasyad
                </p>
              </div>
            </div>
            <div class="popup-info-text">
              <div class="popup-info-text-content col">
                <p>
                  Fajar Dharma
                </p>
                <p>
                  Dafari Al Fathri
                </p>
                <p>
                  Gilang Rizky Ramadhan
                </p>
                <p>
                  Rafif Poedjo Laksono
                </p>
                <p>
                  Herry Isai <br>Pangihutan Tobing
                </p>
              </div>
              <div class="popup-info-text-content col">
                <p>
                  Eidel Riz Vio 
                </p>
                <p>
                  Naafil Wihandono
                </p>
                <p>
                  Thariq Biranul Natadipura
                </p>
                <p>
                  Niken Sekar Arum
                </p>
              </div>
            </div>
          </div>
          <div class="popup-info">
            <div class="popup-info-head">
              <div class="popup-info-img">
                <svg class="popup-img-svg" viewBox="0 0 228 201">
                  <path d="M228 0H0V200.895H228V0Z" fill="url(#hexagon-pattern)"/>
                </svg>
                <img class="popup-img" src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="popup-info-title">
                <h3>
                  Head of Digital Design Subdivision
                </h3>
                <p>
                  Annisa Kurnia Utari
                </p>
              </div>
            </div>
            <div class="popup-info-text">
              <div class="popup-info-text-content col">
                <p>
                  M. Raihan Adiwidya
                </p>
                <p>
                  Nazrey Dafaro
                </p>
                <p>
                  Akhmad Mulian
                </p>
                <p>
                  Muhammad Afrizal <br> Zikri Arfendy
                </p>
                <p>
                  Jinan Diva Calista
                </p>
              </div>
            </div>
          </div>
        </div>
        <a class="popup-close" href="javascript:void(0);" onclick="togglePopup('popup-cominfoDiv')">
          <svg width="55" height="29" viewBox="0 0 55 29" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M52 14.5H8" stroke="white" stroke-width="5" stroke-linecap="round"/>
            <path d="M16 3L4.5 14.5L16 26" stroke="white" stroke-width="5" stroke-linecap="round"/>
          </svg>
        </a>
      </div>

      <!-- Fundraising Division Popup -->
      <div id="popup-fundDiv" class="popup text-white">
        <div class="popup-body popup-main">
          <div class="popup-info">
            <div class="popup-info-head">
              <div class="popup-info-img">
                <svg class="popup-img-svg" viewBox="0 0 228 201">
                  <path d="M228 0H0V200.895H228V0Z" fill="url(#hexagon-pattern)"/>
                </svg>
                <img class="popup-img" src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="popup-info-title">
                <h3>
                  Head of Business Fund Subdivision
                </h3>
                <p>
                  Abelard Vincent J. T.
                </p>
              </div>
            </div>
            <div class="popup-info-text">
              <div class="popup-info-text-content col">
                <p>
                  Fazza Merlinda
                </p>
                <p>
                  Ahmad Maulana Sidik
                </p>
                <p>
                  Indah Febriana Sani
                </p>
                <p>
                  Mohammad Dony Alfayadh
                </p>
                <p>
                  Mutiara Annisa Yusya
                </p>
              </div>
            </div>
          </div>
          <div class="popup-info">
            <div class="popup-info-head">
              <div class="popup-info-img">
                <svg class="popup-img-svg" viewBox="0 0 228 201">
                  <path d="M228 0H0V200.895H228V0Z" fill="url(#hexagon-pattern)"/>
                </svg>
                <img class="popup-img" src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="popup-info-title">
                <h3>
                  Head of Sponsorship Subdivision
                </h3>
                <p>
                  Nadya Ulfa Dwi Ratna
                </p>
              </div>
            </div>
            <div class="popup-info-text">
              <div class="popup-info-text-content col">
                <p>
                  Rizqi Amalia Utami
                </p>
                <p>
                  M Daffa Lyandra
                </p>
                <p>
                  Dian Maya Sari
                </p>
                <p>
                  Maulana Ade
                </p>
                <p>
                  Arini adelia
                </p>
                <p>
                  Ervina damayanti
                </p>
                <p>
                  Sukriadi Nasution
                </p>
              </div>
            </div>
          </div>
        </div>
        <a class="popup-close" href="javascript:void(0);" onclick="togglePopup('popup-fundDiv')">
          <svg width="55" height="29" viewBox="0 0 55 29" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M52 14.5H8" stroke="white" stroke-width="5" stroke-linecap="round"/>
            <path d="M16 3L4.5 14.5L16 26" stroke="white" stroke-width="5" stroke-linecap="round"/>
          </svg>
        </a>
      </div>

      <!-- Accomodation Division Popup -->
      <div id="popup-accomodationDiv" class="popup text-white">
        <div class="popup-body popup-alt">
          <div class="popup-info">
            <div class="popup-info-head">
              <div class="popup-info-img">
                <svg class="popup-img-svg" viewBox="0 0 228 201">
                  <path d="M228 0H0V200.895H228V0Z" fill="url(#hexagon-pattern)"/>
                </svg>
                <img class="popup-img" src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="popup-info-title">
                <h3>
                  Deputy Head of Accomodation Division
                </h3>
                <p>
                  Naufal Brain Shifa
                </p>
              </div>
            </div>
            <div class="popup-info-text">
              <div class="popup-info-text-content col">
                <p>
                  Putri Dhea Addibah
                </p>
                <p>
                  Siti Khofifah Yulia
                </p>
                <p>
                  Iqbal Tri Adhi W
                </p>
                <p>
                  Achmad Hesa Maulana
                </p>
                <p>
                  Fadly Septian
                </p>
                <p>
                  Muhammad Rivan Ghozzy Abdullah
                </p>
                <p>
                  Yusuf Hisyam
                </p>
                <p>
                  Indah Paramitha Wulandary
                </p>
              </div>
            </div>
          </div>
        </div>
        <a class="popup-close" href="javascript:void(0);" onclick="togglePopup('popup-accomodationDiv')">
          <svg width="55" height="29" viewBox="0 0 55 29" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M52 14.5H8" stroke="white" stroke-width="5" stroke-linecap="round"/>
            <path d="M16 3L4.5 14.5L16 26" stroke="white" stroke-width="5" stroke-linecap="round"/>
          </svg>
        </a>
      </div>

      <!-- Consumption Division Popup -->
      <div id="popup-consumptionDiv" class="popup text-white">
        <div class="popup-body popup-main">
          <div class="popup-info">
            <div class="popup-info-head">
              <div class="popup-info-img">
                <svg class="popup-img-svg" viewBox="0 0 228 201">
                  <path d="M228 0H0V200.895H228V0Z" fill="url(#hexagon-pattern)"/>
                </svg>
                <img class="popup-img" src="{% static 'about/asset/1.jpg' %}">
              </div>
              <div class="popup-info-title">
                <h3>
                  Deputy Head of Consumption Division
                </h3>
                <p>
                  Rizal Novriyanto
                </p>
              </div>
            </div>
            <div class="popup-info-text">
              <div class="popup-info-text-content col">
                <p>
                  Clarisa Purnamawati
                </p>
                <p>
                  Viarju Ramanda
                </p>
                <p>
                  Syifaunnisa Karunia Masda
                </p>
                <p>
                  Syadza Adila
                </p>
                <p>
                  Ramadhian Arya Al Hakim 
                </p>
                <p>
                  Honey Iffa Naura
                </p>
                <p>
                  Adnan Luthfi
                </p>
                <p>
                  Devi Wulandari 
                </p>
              </div>
              <div class="popup-info-text-content col">
                <p>
                  Zahra Yusnida 
                   
                  
                 
                  
                  
                 
                 
                </p>
                <p>
                  Hana Rafifah
                </p>
                <p>
                  Fachri Hibatullah
                </p>
                <p>
                  Alya Janna Kasim
                </p>
                <p>
                  Naufal Farrell Ramadhan 
                </p>
                <p>
                  M. Alfin Delvan Joeyantu
                </p>
                <p>
                  Mulyadi
                </p>
                <p>
                  Irin Nabila Putri
                </p>
              </div>
            </div>
          </div>
        </div>
        <a class="popup-close" href="javascript:void(0);" onclick="togglePopup('popup-consumptionDiv')">
          <svg width="55" height="29" viewBox="0 0 55 29" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M52 14.5H8" stroke="white" stroke-width="5" stroke-linecap="round"/>
            <path d="M16 3L4.5 14.5L16 26" stroke="white" stroke-width="5" stroke-linecap="round"/>
          </svg>
        </a>
      </div>

</div>
