.nav-item .event{
    text-decoration: underline;
}

/* garis */

.line{
    width: 3px;
    margin-left: 10px;
    height: 100%;
    background-color: #FF0411;
}

/* judul */
.judul{
    width: 90%;
    margin-top: 210px;
    margin-left: auto;
    margin-right: auto;
}
.judul h1{
    color: white;
    margin-bottom: 30px;
    font-size: calc(35px + 3vw);
}

.garisbawah{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 60%;
    height: 3px;
    margin-left: 120px;
    background-color: #FF0411;
}
.garing1{
    width: 3px;
    height: 70px;
    position: absolute;
    margin-top: -15px;
    margin-left: -31px;
    transform: rotate(60deg);
    background-color: #FF0411;
}
.lurus1{
    position: absolute;
    width: 3px;
    margin-left: -60px;
    margin-top: 36px;
    height: 100px;
    background-color: #FF0411;
}
.garing2{
    width: 3px;
    height: 200px;
    position: absolute;
    margin-top: 93px;
    margin-left: 26px;
    transform: rotate(-15deg);
    background-color: #FF0411;
}
.lurus2{
    width: calc(75px + 70vw);
    height: 3px;
    margin-top: 290px;
    margin-left: 52px;
    max-width: 1500px;
    background-color: #FF0411;
}

.judul p{
    text-align: left;
    width: 80%;
    height: 300px;
    margin: auto;
}

.speakertime{
    width: 80%;
    height: 100%;
    
    margin: calc(95px - 2vw) auto;
}

.speakertime-list{
    justify-content: space-between;
    text-align: center;
}

.speakertime-list li{
    margin-top: 10px;
    display: block;
    width: 90%;
    text-align: left;
    color: white;
    margin-left: 30px;
}
.bulet{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: 3px solid #FF0411;
    margin: auto auto 20px auto;
    background-color: none;
}
.garing{
    width: 3px;
    height: 115px;
    margin-left: 45px;
    margin-top:-95px;
    transform: rotate(45deg);
    background-color: #FF0411;
}
.okupasi{
    width: 90%;
    height: 100%;
    margin: auto;
    margin-bottom: 250px;
}
.okupasi-isi{
    width: 100%;
    height: 100%;
    margin-bottom: 5%;

}

.okupasi-svg {
    width:280px;
    height: 280px;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

.okupasi-img {
    flex: 1;
    position: relative;
    width: 100%;
    height: 300px;
}

.okupasi-img > img{
    margin-top: 30%;
    width: 168px;
    height: 146px;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;   
    right: 0;  
    margin: auto;
    object-fit: cover;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.tulisan{
    margin-top: 10px;
    flex: 2;
    text-align: center;
}
.tulisan p{
    margin-top: 40px;
    width: 80%;
    margin: auto;
}


.kartu{
    width: 90%;
    margin: 100px auto 100px auto;
}
.kartu-speaker{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   justify-content: center;
}
.kartu-speaker-isi{
    background-color: #FF0411;
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;
    height: 450px;
    margin-top: 50px;
    border-radius: 20px;
    text-align: center;
}

.kartu-speaker-isi-gambar{
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin: 20px auto;
}
.kartu-speaker-isi-gambar img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.kartu-speaker-isi p{
    width: 200px;
    font-size: 15px;
    text-align: left;
    margin: 10px auto 40px auto;

}
.kartu-speaker-isi a{
   padding:10px 20% 10px 20%;
   border-radius: 10px;
   margin-bottom: 10px;
   background-color: white;
   color: black;
}


/* media */

@media(min-width:800px){
    .speakertime-list{
        display: flex;
    }
    .speakertime-list li{
        display: block;
        width: 15%;
        text-align: left;
        color: white;
        margin-left: 30px;
    }
}
@media(min-width:999px){
    .okupasi-isi{
        display: flex;
        justify-content: space-between;
    }
    .okupasi-img{
        height:250px;
    }
    .okupasi-isi.right .tulisan{
        order: -1;
        text-align: right;
    }
    .okupasi-isi.right .tulisan p{
        margin-right: 0px;
        margin-left: auto;
    }
    .tulisan{
        margin-top: 10px;
        flex: 2;
        text-align: left;
    }
    .tulisan p{
        margin-top: 40px;
        width:300px;
        margin-left: 0px;
    }

}
.register{
    width: 80%;
    height: 100%;
    margin: auto;
    text-align: center;
    margin-bottom: 250px;
}
.register a{
    padding: 10px 50px 10px 50px;
    border-radius: 10px;
    font-size: 30px;
    background-color: white;
    color: #12006B ;
}
.register a:hover{
    text-decoration: none;
}
.register:hover{
    transform: scale(1.1);
}

@media(min-width:1500px){
    .okupasi-isi.right .tulisan{
        order: -1;
        text-align: right;
        margin-right: -5%;
        margin-left: 10%;
    }
    .tulisan{
        margin-top: 10px;
        flex: 2;
        text-align: left;
        margin-left: -5%;
    }

}
@media(max-width:662px){
    .kartu-speaker{
        justify-content: center;
    }
    .leftline{
        display: none;
    }
    .rightline{
        display: none;
    }
    .garisbawah{
        display: none;
    }
    .bulet{
        display: none;
    }
}
@media(max-width:800px){
    .garisbawah{
        display: none;
    }
    .bulet{
        display: none;
    }
}
