/* font */
.nav-item .about{
    text-decoration: underline;
}
a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

/* garis */


.line{
    width: 3px;
    margin-left: 10px;
    height: 100%;
    background-color: #FF0411;
}

/* judul */
.judul{
    width: 90%;
    margin-top: 210px;
    margin-bottom: 110px;
    margin-left: auto;
    margin-right: auto;
}

.garisbawah{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 25%;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FF0411;
}

/* info */
.info{
    width: 100%;
    height: 100%;
}
.info img{
    width: 100%;
    height: fit-content;
}
.isiinfo{
    width: 100%;
    height: 150%;
    display: flex;
    justify-content: center;
    align-items: center;   
    background-color: #fff;
}
.info #kebalik{
    transform: rotate(180deg);
}
.info h1{
    color: #12006B;
}
.info .garisbawah{
    margin-bottom: 3%;
}
.info p{
    color: #12006B;
    text-align: center;
}
.kontain{
    margin-left: 7%;
    margin-right: 7%;
}

/* media */ 

/* circuit */

.circuits {
    pointer-events: none;
}

.bulet{
    left: 10vw;
    margin-top: 5%;
    position: absolute;
}
.bulet img{
    height: calc(200px + 37vw);
}

.circuit2{
    z-index: 3;
    position: absolute;
    right: calc(10vw);
    margin-top: -22%;
}
.circuit2 img{
    height: calc(200px + 20vw);
}
.circuit3{
    z-index: 3;
    position: absolute;
    top: 60%;
    left: 5%;
    width: 100%;
}
.circuit3.rotate{
    transform: scaleX(-1);
    left: -5%;
}
.circuit3 img{
    height: 235px;
    width: 80%;
}

.circuit4{
    text-align: center;
    width: 100%;
    margin-bottom: 125px;
}
.circuit4 img{
    width: 50vw;
    max-width: 800px;
}
.circuit5{
    z-index: 3;
    position: absolute;
    width: 100%;
    left: 0%;
    bottom: -13%;
}
.circuit5 img {
    width: 100%;
}

@media(max-width:1000px){
    .circuit5{
        display: none;
    }
}
@media(max-width:700px){
    .line{
        display: none;
    }
    .circuit5{
        display: none;
    }
}


/* COMMITTEE SECTION STYLING */

.committee-wrapper {
    box-sizing: content-box;
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    padding: 0 5%;
    color: white;
    position: relative;
}

.committee-section {
    position: relative;
    margin-bottom: 200px;
}

.committee-section:last-child {
    margin-bottom: 0;
}

.committee-main {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 205px;
    padding: 0 12px;
    position: relative;
    z-index: 10;
}

.committee-main.reversed {
    flex-direction: row-reverse;
}

.committee-img, .popup-img {
    object-fit: cover;
    object-position: center;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.committee-img-svg, .popup-img-svg {
    width: 165.47%;
    height: 182.19%;
    position: absolute;
    top: -41%;
    left: -32%;
}

.committee-main>h1 {
    margin-top: 3%;
    width: 480px;
    text-align: justify;
}

.committee-main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
}

.committee-main-info:hover {
    transform: scale(1.05);
}

.committee-main-img {
    position: relative;
}

.committee-main-img>img {
    width: 168px;
    height: 146px;
}

.committee-main-info-text {
    margin-top: 60px;
    text-align: center;
}

.committee-main-info-text>* {
    font-size: 1.5rem;
}

.committee-tree {
    padding: 0;
    margin-bottom: 225px;
}

.committee-tree:last-child {
    margin-bottom: 0;
}

.committee-tree-section {
    margin-bottom: 0;
}

.committee-tree-section:last-child {
    margin-bottom: 0;
}

.committee-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
    max-width: 155px;
    transition: all 0.3s ease;
}

.committee-info:hover {
    transform: scale(1.05);
}

.committee-info-img, .popup-info-img {
    position: relative;
}

.committee-info-img>img {
    width: 134px;
    height: 116px;
}

.committee-info-text {
    text-align: center;
    margin-top: 55px;
}

.committee-info-text>* {
    font-size: 1.25rem;
    white-space: nowrap;
}

@media (max-width: 768px) {

    .circuits {
        display: none;
    }

    .committee-main, .committee-main.reversed {
        flex-direction: column-reverse;
        align-items: center;
    }

    .committee-main>h1{
        text-align: center;
    }

    .committee-main-info {
        margin-top: 150px;
    }

    .popup {
        height: auto;
        overflow: auto;
    }

    .popup-main {
        flex-direction: column;
    }
}

/* Popup Styling */

.flex-divisor {
    flex: 1 1 60px;
}

.popup {
    z-index: 100;
    position: fixed;
    overflow: hidden;
    height: 0;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    transition: all 0.5s ease;
}

.popup.expand {
    height: 100%;
}

.popup-main {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.popup-alt, .popup-single {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.popup-alt .popup-info {
    flex-direction: row;
    align-items: flex-start;
}

.popup-body {
    position: relative;
}

.popup-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
}

.popup-info-head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-info-img {
    margin-bottom: 60px;
}

.popup-single .popup-info-img {
    margin-bottom: 80px;
}

.popup-img {
    width: 127.24px;
    height: 110.19px;
}

.popup-single .popup-img {
    width: 211.62px;
    height: 183.27px;
}

.popup-info-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.popup-info-title>*{
    font-size: 1.25rem;
}

.popup-info-text {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.popup-info-text-content>p {
    font-size: 15px;
    line-height: 110%;
    text-align: center;
}

.popup-close {
    position: absolute;
    bottom: 4%;
    right: 4%;
}