/* font */

.nav-item .about{
    text-decoration: underline;
}

h1{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 900;
}
h2{
    font-family: 'Montserrat', sans-serif;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
}

/* garis */

.leftline{
    display: flex;
    z-index: -1;
    height: 100vh;
    width: fit-content;
    top: 90px;
    position: absolute;
    left: 10px;
}
.rightline{
    display: flex;
    z-index: -1;
    height: 100vh;
    top: 90px;
    width: fit-content;
    position: absolute;
    right: 20px;
}
.line{
    width: 3px;
    margin-left: 10px;
    height: 100%;
    background-color: #FF0411;
}

/* judul */
.judul{
    width: 90%;
    margin-top: 210px;
    margin-bottom: 110px;
    margin-left: auto;
    margin-right: auto;
}
.judul h1{
    color: white;
    font-size: calc(35px + 6vw);
}
.judul h2{
    color: white;
    text-align: center;
    font-size: calc(35px + 3vw);
}

.garisbawah{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 25%;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FF0411;
}

/* info */
.info{
    width: 100%;
    height: 100%;
}
.info img{
    width: 100%;
    height: fit-content;
}
.isiinfo{
    width: 100%;
    height: 150%;
    display: flex;
    justify-content: center;
    align-items: center;   
    background-color: #fff;
}
.info #kebalik{
    transform: rotate(180deg);
}
.info h1{
    color: #12006B;
    font-size:calc(10px + 5vw);
}
.info .garisbawah{
    margin-bottom: 3%;
}
.info p{
    color: #12006B;
    text-align: center;
}
.kontain{
    margin-left: 7%;
    margin-right: 7%;
}

/* media */ 

/* circuit */
.bulet{
    left: 15vw;
    margin-top: 5%;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: #FF0411;
}
.garing{
    position: absolute;
    width: 3px;
    height: 80px;
    left: -20px;
    transform: rotate(45deg);
    background: #FF0411;
}
.lurus{
    position: absolute;
    height: calc(4vw + 350px);
    width: 3px;
    top: 66px;
    left: -47px;
    background: #FF0411;
}
.garing2{
    position: absolute;
    width: 3px;
    height: 80px;
    right: -27px;
    bottom: -65px;
    transform: rotate(-45deg);
    background: #FF0411;
}
.lurus2{
    position: absolute;
    height: 10vw;
    width: 3px;
    top: calc(4vw + 400px);
    right: -55px;
    background: #FF0411;
}
.bulat{
    right:-7px;
    top: 70px;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: #FF0411;
}


/* Style css untuk Pop Up */
a.popup-link {
    padding:17px 0;
    text-align: center;
    margin:7% auto;
    width: 300px;
    color: #fff;
    text-decoration: none;

}
a.popup-link:hover {
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
    transition:all 1s;
}
/* end link popup*/

/*style untuk popup */	
#popup {
    visibility: hidden;
    opacity: 0;
    margin-top: -200px;
}
#popup2 {
    visibility: hidden;
    opacity: 0;
    margin-top: -200px;
}
#popup3 {
    visibility: hidden;
    opacity: 0;
    margin-top: -200px;
}
#popup4 {
    visibility: hidden;
    opacity: 0;
    margin-top: -200px;
}
#popup5 {
    visibility: hidden;
    opacity: 0;
    margin-top: -200px;
}

#popup:target {
    visibility:visible;
    opacity: 1;
    background-color: rgba(255,255,255,0.2);
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:0;
    z-index: 99999999999;
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
    transition:all 1s;
}
#popup2:target {
    visibility:visible;
    opacity: 1;
    background-color: rgba(255,255,255,0.2);
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:0;
    z-index: 99999999999;
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
    transition:all 1s;
}
#popup3:target {
    visibility:visible;
    opacity: 1;
    background-color: rgba(255,255,255,0.2);
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:0;
    z-index: 99999999999;
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
    transition:all 1s;
}
#popup4:target {
    visibility:visible;
    opacity: 1;
    background-color: rgba(255,255,255,0.2);
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:0;
    z-index: 99999999999;
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
    transition:all 1s;
}
#popup5:target {
    visibility:visible;
    opacity: 1;
    background-color: rgba(255,255,255,0.2);
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:0;
    z-index: 99999999999;
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
    transition:all 1s;
}
@media (min-width: 768px){
    .popup-container {
        width:600px;
    }
}
@media (max-width: 576px){
    .popup-container {
        width:70%;
        font-size:10%;
    }
}
.popup-container {
    display: flex;
    position: relative;
    margin:7% auto;
    background-color: rgb(0, 0, 0);
    color:#fff;
}

a.popup-close {
    position: absolute;
    top:3px;
    right:3px;
    background-color: rgb(0, 0, 0);
    padding:7px 10px;
    font-size: 20px;
    text-decoration: none;
    line-height: 1;
    color:rgb(255, 255, 255);
}

.box {
    width:100%;
    height:100%;
    position: relative;
    background-color: rgb(0, 0, 0);
    color:#fff;
  }
  
    .pop_isi {
        width:100%;
        text-align:center;
    }

    .pop_left {
        float:left;
        width: 33.33%;
    }

    .pop_center {
        display: inline-block;
        margin:0 auto;
        width: 33.33%;
    }

    .pop_right {
        float:right;
        width: 33.33%;
    }

