{% extends 'base.html' %}
{% load static %}


{% block title %}Perlombaan Poster{% endblock title %}

{% block style %}<link rel="stylesheet" href="{% static 'poster/form.css' %}">{% endblock style %}


<body>
  <div class="main-wrapper">
{% block isi %}
<div class="leftline">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
</div>
<div class="rightline">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
</div>

  <div class="judul">
    <h1>Daftar Perlombaan Poster</h1>
    <div class="garisbawah"></div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores dolore quia fugiat cupiditate aut iusto necessitatibus non asperiores officia dolores ullam eaque tenetur laudantium illum modi obcaecati, excepturi natus repellendus.
      <br><br><br>
      <div class="form-v9">
        <div class="page-content">
          <div class="form-v9-content" style="background-image: url('images/form-v9.jpg')">
            <form class="form-detail" action="#" method="post">
              {% csrf_token %}
              <h2>Registration Form</h2>
              <div class="form-row-total">
                <div class="form-row">
                  <input type="text" name="full-name" id="full-name" class="input-text" placeholder="Nama Ketua" required>
                </div>
                <div class="form-row">
                  <input type="text" name="your-email" id="your-email" class="input-text" placeholder="Email" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
                </div>
              </div>
              <div class="form-row-total">
                <div class="form-row">
                  <input type="number" name="telephon" id="telephon" class="input-text" placeholder="Number Telephon" required>
                </div>
                <div class="form-row">
                  <input type="instansi" name="instansi" id="instansi" class="input-text" placeholder="Instansi " required>
                </div>
              </div>
              <div class="form-row-total">
                <div class="form-row">
                  <input type="produketua" name="prodiketua" id="prodiketua" class="input-text" placeholder="Prodi Ketua TIM" required>
                </div>
                <div class="form-row">
                  <input type="anggota1" name="anggota1" id="anggota1" class="input-text" placeholder="Nama Anggota 1" required>
                </div>
              </div>
              <div class="form-row-total">
                <div class="form-row">
                  <input type="anggota2" name="anggota2" id="anggota2" class="input-text" placeholder="Nama Anggota 2" required>
                </div>
                <div class="form-row">
                  <input type="anggota3" name="anggota3" id="anggota3" class="input-text" placeholder="Nama Anggota 3" required>
                </div>
              </div>
              <div class="form-row-total">
                <div class="form-row">
                  <input type="panggota1" name="panggota1" id="panggota1" class="input-text" placeholder="Prodi Anggota 1" required>
                </div>
                <div class="form-row">
                  <input type="panggota2" name="panggota2" id="panggota2" class="input-text" placeholder="Prodi Anggota 2" required>
                </div>
              </div>
              <div class="form-row-total">
                <div class="form-row">
                  <input type="panggota3" name="panggota3" id="panggota3" class="input-text" placeholder="Prodi Anggota 3" required>
                </div>
                <div class="form-row">
                  <input type="subtema" name="subtema" id="subtema" class="input-text" placeholder="Sub Tema" required>
                </div>
              </div>
              <div class="form-row-last">
                <input type="submit" name="register" class="register" value="Register">
              </div>
            </form>
          </div>
        </div>
      </div>
      
      
    </div>
  </div>



  
  
{% endblock isi %}
</body>

