{% extends 'base.html' %}
{% load static %}


{% block title %}Perlombaan Poster{% endblock title %}

{% block style %}<link rel="stylesheet" href="{% static 'poster/poster.css' %}">{% endblock style %}


<body>
  <div class="main-wrapper">
{% block isi %}
<div class="leftline">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
</div>
<div class="rightline">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
</div>

  <div class="judul">
    <h1>Daftar Perlombaan Prototype</h1>
    <div class="garisbawah"></div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores dolore quia fugiat cupiditate aut iusto necessitatibus non asperiores officia dolores ullam eaque tenetur laudantium illum modi obcaecati, excepturi natus repellendus.

    <table class="table">
    <thead>
      <tr>
      <th scope="col">#</th>
        <th scope="col">Nama Ketua</th>
        <th scope="col">Email</th>
        <th scope="col">No. Telepon</th>
        <th scope="col">Instansi</th>
        <th scope="col">Prodi</th>
        <th scope="col">Nama Anggota</th>
        <th scope="col">Prodi</th>
        <th scope="col">Subtema</th>
      </tr>
    </thead>
    <tbody>   
      {% for akun in semua_akun %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{akun.id}}</td>
          <td>{{akun.nama_ketua}}</td>
          <td>{{akun.email}}</td>
          <td>{{akun.no_telepon}}</td>
          <td>{{akun.instansi}}</td>
          <td>{{akun.prodi_ketua}}</td>
          <td>{{akun.nama_anggota}}</td>
          <td>{{akun.prodi_anggota}}</td>
          <td>{{akun.subtema}}</td>
        </tr>
      {% endfor %}
    </tbody>
    </table>
    <a class="btn btn-primary" href="{% url 'prototype:create' %}">Daftar</a>
      
    </div>
  </div>



  
  
{% endblock isi %}
</body>
