* {
    margin: 0;
    padding: 0;
}

body{
    background-image: url("home/asset/bg/Circuit\ Board.svg");
    overflow-x: hidden;
    max-width: 100%;
}

.navbar-toggler{
    margin-top: -20px;
    border:1px solid white;
    cursor: pointer;
    width: 1.83em;
    height: 1.83em;
    padding: 0 0 0.15em 0.35em ;
}
.contentsemua{
    width: 100%;
    max-width: 1920px;
    margin: -0px auto;
    position: relative;
}
.leftline{
    display: flex;
    z-index: -1;
    height: 3100px;
    width: fit-content;
    top: -100px;
    position: absolute;
    left: 10px;
}
.rightline{
    display: flex;
    z-index: -1;
    height: 3100px;
    top: -100px;
    width: fit-content;
    position: absolute;
    right: 20px;
}

.navbar-toggler-inner::before,
.navbar-toggler-inner::after,
.navbar-toggler-inner{
    width: 1em;
    height: 0.16em;
    background-color: white;
    position: absolute;
}

.navbar-toggler-inner::before{
    content: "";
    display: block;
    top: -0.3em;
}

.navbar-toggler-inner::after{
    content: "";
    display: block;
    bottom: -0.3em;
}
.dropdown-menu a{
    color: #12006B;
}


.kumpulangaris{
    z-index: 105;
    width: fit-content;
    height: calc(60px + 1vw);
    position: relative;
    margin-top: 5px ;
    margin-left: 150px;
    margin-right: 500px;
}
.garis1{
    width: 100%;
    height: 3px;
    margin: 10px auto;
    background-color: red;
}
.navbar{
    z-index: 100;
    height: calc(60px + 1vw);

    background: rgba(0, 17, 86, 0.6);
}

.navbar-brand{
    z-index: 1000;
    position: relative;
}
.navbar-brand img{
    width: 70%;
    height: 70%;
    margin-left: 30px;
}

.nav-item{
    font-weight: 800;
}
.nav-item > a{
    color: white;
    font-size: 25px;
}


.th-img {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
}
      
      /* Add a hover effect (blue shadow) */
.th-img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.footer-copyright a{
    color: gray;
}
.footer-copyright{
    color: gray;
}

.garisfooter{
    margin-left: 2%;
    margin-right: 2%;
    background-color: black;
    height: 3px;
    width: 100%;
}
.isifooter{
    margin-left: 10%;
    margin-right: 10%;
}
.isitelpon{
    margin-left: 12%;
    margin-right: 8%;
}

.isifooter p{
    margin-left: 2%;
    margin-top: -2%;
    color: black;
}
.isitelpon .far{
    float: left;
}
.sosmedfooter{
    text-align: right;
}
.fab{
    color: white;
    padding: 10px;
    background-color: black;
    border-radius: 100px;
}

@media(max-width:999px){
    .navbar{
        z-index: 3;
        height: calc(70px + 1vw);
        background: rgba(0, 17, 86, 0.6);
    }
    .navbar-brand img{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: -10%;
        width: 70%;
        height: 70%;
    }
    .nav-item > a{
        color: white;
        font-size: 25px;
        background: rgba(0, 0, 0, 0.3);
        width: 100%;
    }
    
}
@media(max-width:700px){
    .isifooter{
        text-align: center;
    }
    .isitelpon .far{
        float: none;
    }
    .sosmedfooter{
        margin-top: 10px;
        text-align: center;
    }
}


@media (max-width:991px){
    .nav-item > a{
        color: white;
        margin-left: 10px;
    }
    .nav-item{
        background: rgba(0, 0, 0, 0.3);
        width: 1500px;
        margin-left: -20px;
    }
    .dropdown-menu a{
        margin-left: 20px;
        color: white;
    }
    .dropdown-menu{
        background: rgba(0, 0, 0, 0.3);
    }
    .kumpulangaris{
        margin-right: 90px;
        margin-left: 110px;
    }
}

