h1{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
    font-weight: 900;
}
h2{
    font-family: 'Poppins', sans-serif;
    font-size: calc(3vw);
    text-align: center;
    font-weight: 900;
    color: white;
}
h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-weight: bold;
    color: white;
}
h6{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    color: white;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: white;
}